extends ../layouts/_section_intro.jade

block menu-list
  ul#intro-menu-hide
    li
      a.button.active(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button(href="#") Bathrooms
block title 
  | Bimini
block description
  | The aft, mostly covered by a hard top Bimini, is the best place to sit under navigation, shaded, and protected from wind and spray. Two coffee tables in the center of the “U” shaped sofa raise and double up for comfortable dining. Ahead of the sofa, while at anchor, you might have dinner in a more conventional array of rectangular tables and director chairs. A couple of hamacs hang around the shaded area in good weather.
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="2", data-pin="21,22,23,33")
    | See on plan
