extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Intro
    li
      a.button.active(href="#") Dining room
    li
      a.button(href="#") Living room

block title 
  | Dining room
block description
  | The dining room has a wooden partition that, when closed, completely separates the dining room from the living room. When the partition opens, both spaces form a single large room, divided by the open bookshelves.<br /><br />The dining room has two twin tables, thus affording privacy for small parties. At dinnertime, each table can be enlarged to host 10 guests. When one table alone is opened-up, the other one can be used for buffets. During the rest of the day, both are square game tables, with chess marquetry inlaid.