extends ../layouts/_section_intro.jade


block first-list-item
  a.button(href="#") Lower Deck
block second-list-item
  a.button(href="#") Main Deck
block third-list-item
  a.button(href="#") Aft Deck
block fourth-list-item
  a.button(href="#") Upper Deck
block title 
  | Decks
block description
  | The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe use the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.
