extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Dining room
    li
      a.button.active(href="#") Living room
block title 
  | Living room
block description
  | The living room has a double-layered library, with shelves under the windows that double-up as side tables for a glass or ashtray. You’ll find a vertical Schimmel piano together with a day-bed sitting 4, high enough to afford excellent views of the outside, particularly suitable for sitting inside in cold climates while navigating, and at the same time watching the coastline go bye.
