extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button.active(href="#") Intro
    li
      a.button(href="#") Comfort



block title 
  | Events
block description
  | Heeeeey hooooorah! A bottle of rum aaaaand some battle with swords and guns!
