block section
  section.center
    .clear
    .main-text.home
      p.subtitle
        | — Events —
      p#yacht_title
        block statement1
          | text

      .clear
      
      
    .clear
  div.hslide#hslide1.bg-img-slide(style="background-image:url('/images/landing/IMG_0687.jpg')")
