extends ../layouts/_section_intro.jade

block menu-list
  ul#intro-menu-hide
    li
      a.button.active(href="#") Intro
    li
      a.button(href="#") The Sails
    li
      a.button(href="#") Planimetry
    li
      a.button(href="#") Machinery
    li
      a.button(href="#") Tankage

block title
  | Fly
block description
  | On the top deck, ahead of the wheelhouse, two separate areas can hosts independent parties with relative independence.  An enclosed open-air living room area, and a sun bathing cushioned platform.
  br
  | The open-air living room, built around a protected sofa with two low square coffee tables, transforms into a dining area when the tables enlarge to form, if desirable, a large rectangular 1,70 on 3,40 mtrs table, sitting 18. The whole area can also be covered with mattresses, and turns into a truly comfortable reading and sunbathing zone while sailing. At anchor, an awning often shades it. 
  br
  | Still on the Fly deck, Ahead of the enclosed sofa, a large open deck of m 3,80 on 5,80, completely covered with mattresses, and side back rests, is a favorite for lying down while swimming from the boat. Here, a table can raise up from the teakwood flooring, for dining when docked in in warm weather.
