block section
  section.center
    .clear
    .main-text.home
      p.subtitle
        | — The Yacht —
      p#yacht_title
        block statement1
          | Life on board offers a comfortable, homey feeling.<br/>A Schimmel piano, a whole collections of classical books, and many spaces where to relax during the day and evenings, all contribute towards enjoying harmony onboard. You can have dinner on the top deck (sitting 16) or under the aft bimini: inside, you can choose between one table for 14, or two parallel tables sitting each 5 to 10 guests. Occasional tables for twenty guests can be set up in the free areas of the bridges, at your will. Refitted and redesigned in 2011, interiors now offer a living room, a dining room and 6 double cabins.

      .clear
      
      
    .clear
  div.hslide#hslide1.bg-img-slide(style="background-image:url('/images/landing/IMG_0687.jpg')")

