block section
  section.center
    .clear
    .main-text.home
      p.subtitle
        | — The Yacht —
      p#yacht_title
        block statement1
          | Built in 1991 by a reputable Dutch yard, Dione Star is a classic example of fundamental refinement. She was extensively modernised between 2011-2013 and now boasts every creature comfort you could wish for. Whether your dream is to island hop in the Caribbean, or make a trans-Atlantic passage, Dione Star will carry you in supreme comfort and safety.
          br
          br
          | The new owner spared no expense during the two-year refit, and worked closely with the original designers to make the yacht even better than new. With the Lloyds-class steel hull lengthened to 43.8m, there is ample accommodation for up to 12 guests, as well as the professional crew of 11.

      .clear
      
      
    .clear
  div.hslide#hslide1.bg-img-slide(style="background-image:url('/images/landing/IMG_0687.jpg')")
