extends ../layouts/_home.jade
block statement1
  | The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe use the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.
