extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button.active(href="#") Bathrooms


block title 
  | Owner's Cabin
block description
  | The owner’s cabin can be partitioned to separate the master bed from a small study with a desk and sofa. The sofa can convert into a one-on-two-meters bed. The bathroom has separate toilet and bidet, as well as a bathtub and separate showerhead.
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="3", data-pin="32")
    | See on plan
