extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button.active(href="#") Bathrooms


block title 
  | Crew area
block description
  | The crew area includes cabins to accomodate staff members, bathrooms, an office space, a dining room, the kitchen and a laundry area.
