extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button.active(href="#") Bathrooms


block title 
  | Guest Cabins
block description
  | The second guest cabin has a small writing desk within reach of the double bed.
  br
  | Another double cabin, with smaller bed (cm 137 x 197), has extra storage space and an electronic Yamaha piano. This cabins bathroom has both a bathtub and a separate shower.
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="3", data-pin="34,35")
    | See on plan
