extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button.active(href="#") Bathrooms


block title 
  | Bathrooms
block description
  | All 7 bathrooms are fitted in cream-white stone from Carnia, the same stone that frames windows in Venice houses. Below deck is also a guest day toilet you access from the main corridor. It has basin, toilets and a separate shower.
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="3", data-pin="38,39,310,311,312,313,314")
    | See on plan
