extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button.active(href="#") Bathrooms


block title 
  | Office and pilot Cabin
block description
  | Also below deck are the office and pilot cabin, which is inside the laundry area. This small cabin with vertical double berths can occasionally accommodate overnight staff or last minute guests.
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="3", data-pin="36,37")
    | See on plan
