extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button.active(href="#") Bathrooms


block title 
  | Main Deck Cabin
block description
  | Of the six double cabins, one is on the main deck, off the dining room. It has an outside door giving straight out onto external walkway and ample windows that fill the cabin with light. The bathroom has a comfortable bathtub, with large showerhead above. When not used, this cabin can turn into a cozy sitting room, one wall fully covered by a pillared library in pale colored wood.
