extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button.active(href="#") Bathrooms


block title 
  | Twin Cabins
block description
  | The five cabins below deck include two identical twin cabins, in dark shiny Honduras mahogany, with a striking sailing boat feeling.
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="3", data-pin="33,331")
    | See on plan
