extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button.active(href="#") Bathrooms


block title 
  | Dining Room
block description
  | The dining room has a wooden partition that, when closed, completely separates the dining room from the living room. When the partition opens, both spaces form a single large room, divided by the open bookshelves.
  br
  | The dining room has two twin tables, thus affording privacy for small parties. At dinnertime, each table can be enlarged to host 10 guests. When one table alone is opened-up, the other one can be used for buffets. During the rest of the day, both are square game tables, with chess marquetry inlaid
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="2", data-pin="23")
    | See on plan
