extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Tenders and toys
    li
      a.button.active(href="#") Tenders
    li
      a.button(href="#") Floating Platforms


block title 
  | Tenders
block description
  | Helping to shuttle guests to each dive location, and to beaches and ports ashore, is a fleet of three tenders. This includes a 9.7m with a 270hp inboard diesel, a 5.8m with an 115hp outboard, and a 4.5m with a diesel-powered hydrojet, exceptionally safe in crowded waters. In addition, two 98HP Yamaha jetskiis that are housed in two tanks. Cleverly, these tanks can be filled with hot or cold water, either fresh or salt, to double as relaxation tubs.
