extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#") Tenders and toys
    li
      a.button(href="#") Tenders
    li
      a.button(href="#") Floating Platforms


block title 
  | Tenders and toys info
block description
  | A cruise isn’t just about what’s on the water; it’s about what’s under, over and beside it too. When redesigning Dione Star to become his main residence, the owner wanted her to carry as many accessories as possible for the full enjoyment of each destination, particularly for keen amateur divers.  The new 4.5m hull extension, for example, now provides a diving platform and scuba station, with a compressor and 5 complete diving kits.
