extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Cabins
    li
      a.button.active(href="#") Resting
    li
      a.button(href="#") Commodities


block title 
  | Resting
block description
  | Most of the sleeping accommodation is on the lower deck, and includes an owners cabin, and four guest cabins. Two of the guest cabins have a pair of single beds, but the rest are all doubles. Each cabin has it’s own en-suite bathroom and shower, whilst the owners cabin also has a sofa bed and study area. A sixth cabin for VIPs is on the main deck. The pilot berths behind the captain’s office can exceptionally accommodate extra staff or children behind a special partition.
