extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#20") On Deck
    li
      a.button(href="#21") Down Below
    li
      a.button.active(href="#22") On Sail


block title 
  | On Sail
block description
  | When under sail, Dione Star handles beautifully, mainly thanks to her deep keel and easy motion. When at anchor, there is a fleet of fast tenders, jet skis and paddle-boards at your disposal, along with ample fishing, scuba and water-skiing equipment.
  br
  | As a base for any water sports, you could  drift  on the floating platform, fully sheltered  by a sun awning, dangling your toes in the water while enjoying a lazy brunch.
