extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#30") Cabins
    li
      a.prevent.button(href="#31") Resting
    li
      a.prevent.button(href="#32") Commodities


block title 
  | Cabins
block description
  | Dione Star can accommodate 12 guests in 6 cabins: a combination of Italian design and simple refinement, happily recreates a mixture of the maritime feel of an old sailing boat together with the looks of a cozy childhood holiday home. The finishes vary between the cabins – some are trimmed in mahogany, others in natural bamboo, and the rest in clarified oak, but all maintain the style of a true classic. There is also a large opening porthole, giving guests a fresh sea breeze and closer contact with their surroundings.
  //- br
  //- a.see-plan(href="#plan-modal", rel="modal:open", data-deck="3", data-pin="325,326,327,328")
  //-   | See on plan
