extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#40") Room to Mingle
    li
      a.button(href="#41") Dining
    li
      a.button(href="#42") Sunbathing


block title 
  | Room to Mingle
block description
  | Yachting is a very sociable activity, so the redesign ensured there is now plenty of space for entertaining, both inside and on deck. The main communal area is the spacious lounge with an adjoining, fully air‐conditioned games center and dining room. This also has it’s own galley for the quick service of coffee, cocktails, and appetizers.
