extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Intro
    li
      a.button.active(href="#") Down Below
    li
      a.button(href="#") On Sail


block title 
  | Down Below
block description
  | Down below, there are 6 cabins to choose from, each accurately finished by Italian craftsmen in a classic yet informal style, and with full en-suite facilities. The entertainment system includes a large TV in every cabin, along with WiFi and stereo, with access to an extensive on board film library.
