extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Resting
    li
      a.button.active(href="#") Commodities


block title 
  | Commodities
block description
  | With ample hot water, heated towel rails, efficient air-conditioning, and an array of dedicated audio-visual entertainment systems, guests will feel comfortably at home wherever Dione Star has travelled.
