block section
  section.center
    .clear
    .main-text.home
      p.subtitle
        | — Life On Board —
      p#yacht_title
        block statement1
          | Onboard Dione Star we look forward to help you relax and enjoy your time with us with a close and natural contact with the sea. You will find that swimming and water sports are made particularly easy, with a large shaded floating platform, 2 jet skis, scooba diving equipment, Sea Doo Acquascooters and easy steps way down into the water. Tenders are equipped with showers and fridges to allow you long days out at sea.

      .clear
