extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#40") Room to Mingle
    li
      a.button(href="#41") Dining
    li
      a.button.active(href="#42") Sunbathing


block title 
  | Sunbathing
block description
  | This upper deck also features a sunbathing and relaxation area of 35m2 with deep cushions, a sofa and comfortable hammocks. In case of strong winds the entire outdoor dining area can be enclosed, whilst still preserving the view.
