extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#50") Tenders and toys
    li
      a.button(href="#51") Tenders
    li
      a.button.active(href="#55") Floating Platforms


block title 
  | Floating Platforms
block description
  | Another surprising accessory is a 24m2 floating carbon platform that straddles inflatable tubes. This can be moored near the yacht, or towed in to shallow water and anchored off a beach. As the yacht also carries a wide range of fishing and snorkelling gear, as well as paddle-boards and inflatable ’towable’ toys, the platform also acts as a base for water sports, or a snack lunch.
