extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#20") On Deck
    li
      a.button(href="#21") Down Below
    li
      a.button(href="#22") On Sail


block title 
  | On Deck Intro
block description
  | On deck, guests can enjoy walking bare-foot along the smooth teak decks, or lounging in the ample social seating, either under the sun or in the shade. They can sip a sundowner whilst relaxing on swath of deep cushions on the upper deck, or dine al fresco beneath the stars.
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="1", data-pin="18,19,110,111")
    | See on plan
