extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#") Crew
    li
      a.button(href="#") Memorable Experience


block title 
  | Crew
block description
  | But perhaps one of the most important ingredients of a fantastic cruise is the professional crew, who have their own quarters away from the guests to guarantee privacy. This team loves the unique character of Dione Star, and is dedicated to making your charter one that is truly memorable, wherever you choose to take this magnificent yacht.
