extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Highest standards
    li
      a.button.active(href="#") Comfort



block title 
  | Comfort
block description
  | Smooth running engines, quiet generators and purified water systems all help guests to enjoy their cruising grounds to the full. As such, the wastewater is fully treated before being safely discharged, and the fuel is also purified using Racor filters and an Alfa Laval centrifuge system to prevent stoppages. There are separators and collectors for bilge water and waste oil, to prevent even the slightest drop of pollution entering the clear turquoise waters of the Med, the Caribbean or the Pacific.
