extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Maximising comfort
    li
      a.button.active(href="#") Win-win solution



block title 
  | Win-win solution
block description
  | The result is a yacht with a greater range, more dependable systems, surplus power and a larger internal volume. The owner’s emphasis on the new accommodation and social space has delivered an elegant and yet homely ambience in which families and friends can fully relax.
