extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu-hide
    li
      a.button.active(href="#") Intro
    li
      a.button(href="#") Comfort



block title 
  | Home from home
block description
  | With up to 80kW of power available, and 28,800 liters of desalinated water on tap every day, Dione Star is able to treat it’s guests with all the comforts they would find ashore, and a few more besides.  There is a laundry with three washing machines and three driers, so you won’t need to carry a huge amount of luggage. The cold store has no less than four refrigerators, two of 220 liters, and one 70 liters, plus three freezers of 200 liters, so the chef can store any number of delicacies, or preserve your own catch. The tenders can also race ashore to pick up fresh local delicacies for an evening’s fine dining.
