extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#") Highest standards
    li.prevent
      a.button(href="#") Comfort



block title 
  | Highest standards
block description
  | From the outset, the project scrupulously followed the exhaustive criteria for Lloyd's Charter classification. The steel hull is now rated to the A100 Maltese Cross certificate, the highest possible standard obtainable, whilst the wastewater treatment, antifouling system, and engine emissions all comply with the strict Cayman Charter legislation. Coincidentally, these also meet the IMO’s (International Maritime Organisation) tough MARPOL convention for preventing pollution from ships.
