extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#50") Cruising Destinations
    li
      a.button(href="#51") Caribbean
    li
      a.button(href="#52") Ocean Crossing
    li
      a.button(href="#53") Mediterranean



block title 
  | Cruising Destinations
block description
  | Dione Star was conceived for sailing into the Pacific, and thus offers a striking amount of storage and living space on board, both in cabins and public spaces, that together with its 3000 miles of range, makes it particularly suitable to long periods away. With the greatest degree of comfort and safety. Please enjoy her.
