extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Intro
    li
      a.button.active(href="#") Caribbean
    li
      a.button(href="#") Ocean Crossing
    li
      a.button(href="#") Mediterranean



block title 
  | Caribbean
block description
  | There is no better way to explore over 1,500 miles of sandy beaches, azure water and hidden bays along the Caribbean route than by yacht. Dione Star operates an itinerary that stretches from the shallow, languid waters of the Bahamas right down to the vast seascapes Venezuela, with the Captain and crew knowing a few special places well off the beaten track. Whether you want to dive stunning coral reefs, laze under the tropical sun, or visit vibrant and dynamic ports, your ideal Caribbean cruise can be planned to perfection.
