block section
  section.center
    .clear
    .main-text.home
      p.subtitle
        | — Logbook —
      p#yacht_title
        block statement1
          | Dione Star’s owner is passionate about the sea, and about providing a remarkable experience for his guests. During the yacht’s two-year refit, he was keen to not only lengthen the hull and upgrade most specifications, but also to install highly dependable systems to allow the yacht to roam the world without constraint.

      .clear
      
      
    .clear
  div.hslide#hslide1.bg-img-slide(style="background-image:url('/images/landing/IMG_0687.jpg')")
