extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Crew
    li
      a.button.active(href="#") Memorable Experience


block title 
  | Memorable Experience
block description
  | Whatever type of cruise you have in mind, Dione Star and her dedicated and friendly crew will make it a memorable experience. Just choose your perfect list of landfalls, and they’ll do the rest.
