extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#") Maximising comfort
    li
      a.button(href="#") Win-win solution



block title 
  | Maximising comfort,
block description
  | safety and simplicity. The intensive re-modelling was undertaken by specialist refit yards between 2011 and 2013. Key to the transformation were two leading design teams, Diana Yachts, who originally conceived the vessel, and Nauta Yachts of Milan, Italy, who oversaw the redesign of the bridge, decks,  and part of the interiors.
