extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Cruising Destinations
    li
      a.button(href="#") Caribbean
    li
      a.button(href="#") Ocean Crossing
    li
      a.button.active(href="#") Mediterranean



block title 
  | Mediterranean
block description
  | The whole of the Mediterranean Sea is yours to explore in the most comfortable way, and with total flexibility.  From the lively Spanish Coast to the remotest islands of Greece and Turkey, Dione Star will transport you between borders to enjoy the very best the Med has to offer. The crew will take you into idyllic anchorages and the most exclusive marinas in areas such as the Cote d’Azur, the Aeolian Islands or the Amalfi coast. You can enjoy your favourite cruising grounds in complete comfort, and perhaps discover a few you did not even know existed along the way.
