extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Cruising Destinations
    li
      a.button(href="#") Caribbean
    li
      a.button.active(href="#") Ocean Crossing
    li
      a.button(href="#") Mediterranean



block title 
  | Ocean Crossing
block description
  | As Dione Star is moved between her seasonal venues, there is a great opportunity to enjoy a very special deep-sea experience, namely passage-making under sail. Starting from either the USA or Europe, you can join this purposeful yacht for a fortnight of trans-Atlantic sailing, harnessing the power of the wind to cover more than 200 miles  a day. Watch dolphins cavorting under the bow, feel the easy motion as the yacht heels to the breeze, and spend unhurried time with your family and friends. If you want some practical experience, you can take a turn at the wheel, learn about the navigation systems, or trim the sails, all under the friendly guidance of the Captain. After all, the term ‘sea change’ wasn’t invented by accident. As the yacht travels gently between the time zones with no risk of jet lag, you will find yourself relaxing to the rhythm of the ocean.
