#landing-menu.subMenu
  a#simple-menu(href='#sidr')
    i.fa.fa-bars#hide
    span Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li#dropdown-selector
            a.item#m20
              | Sections 
              i.fa.fa-caret-down 
            ul#dropdown-menu(style="display:none")
              li
                a.item#m1(data-menuanchor="inside",href="#inside") Inside
              li
                a.item#m2(data-menuanchor="dining",href="#dining") Dining Room
              li
                a.item#m3(data-menuanchor="living",href="#living") Living Room
              li
                a.item#m4(data-menuanchor="maindeck",href="#maindeck") Main Deck
              li
                a.item#m6(data-menuanchor="owner",href="#owner") Owner's Cabin
              li
                a.item#m5(data-menuanchor="twincab",href="#twincab") Twin Cabins
              li
                a.item#m7(data-menuanchor="guest",href="#guest") Guest Cabins
              li
                a.item#m8(data-menuanchor="office",href="#office") Office & Pilot Cabin
              li
                a.item#m9(data-menuanchor="bathrooms",href="#bathrooms") Bathrooms
              li
                a.item#m10(data-menuanchor="inside-crew",href="#inside-crew") Crew
