#landing-menu.subMenu
  a#simple-menu(href='#sidr') Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a.item#m1(data-menuanchor="events",href="#events") Events
          li
            a.item#m2(data-menuanchor="formal",href="#formal") Formal
          
