#landing-menu.subMenu
  a#simple-menu(href='#sidr') Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a.item#m1(data-menuanchor="home",href="#home") Home
          li
            a.item#m2(data-menuanchor="yacht",href="#range") The Range Of Roam
          li
            a.item#m3(data-menuanchor="day",href="#ample") Ample Power
          
