#landing-menu.subMenu
  a#simple-menu(href='#sidr') Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a.item#m1(data-menuanchor="home",href="#home") Home
          li
            a.item#m2(data-menuanchor="yacht",href="#comfortandsafety") Comfort, Safety & Simplicity
          li
            a.item#m3(data-menuanchor="day",href="#standards") Highest Standards
          li
            a.item#m4(data-menuanchor="night",href="#homefromhome") Home from Home
          li
            a.item#m5(data-menuanchor="specs",href="#cruising") Cruising Destinations
          li
            a.item#m6(data-menuanchor="stern",href="#crew") Crew
          
