#landing-menu.subMenu
  a#simple-menu(href='#sidr') Menu
    i.fa.fa-bars#hide
    span Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a.item#m1(data-menuanchor="login",href="#login") Login
          
          
