#landing-menu.subMenu
  a#simple-menu(href='#sidr') Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a.item#m1(data-menuanchor="decks",href="#decks") Decks
          li
            a.item#m2(data-menuanchor="cabines",href="#cabines") Cabines
          li
            a.item#m3(data-menuanchor="specs",href="#specs") Specs