#landing-menu.subMenu
  a#simple-menu(href='#sidr')
    i.fa.fa-bars#hide
    span Menu
  block hmenu
    .center
      .scroll
        ul#anchor-menu
          li
            a.item#m1(data-menuanchor="home",href="#home") Home
          li
            a.item#m2(data-menuanchor="yacht",href="#yacht") Yacht
          li
            a.item#m3(data-menuanchor="outside",href="#outside") Outside
          li
            a.item#m4(data-menuanchor="bimini",href="#bimini") Bimini
          li
            a.item#m5(data-menuanchor="fly",href="#fly") Fly
          li
            a.item#m6(data-menuanchor="stern",href="#stern") Stern
