extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#") Intro
    li
      a.button(href="#") Main deck cabin
    li
      a.button(href="#") Twin cabins
    li
      a.button.active(href="#") Owner's cabin
    li
      a.button(href="#") Guest cabins
    li
      a.button(href="#") Office and pilot cabin
    li
      a.button(href="#") Bathrooms
      
block title 
  | Owner's cabin
block description
  | The owner’s cabin can be partitioned to separate the master bed from a small study with a desk and sofa. The sofa can convert into a one-on-two-meters bed. The bathroom has separate toilet and bidet, as well as a bathtub and separate showerhead.
