extends ../layouts/_section_intro.jade

block menu-list
  ul#intro-menu-hide
    li
      a.button.active(href="#") Intro
    li
      a.button(href="#") Dining room
    li
      a.button(href="#") Living room

block title 
  | The outside
block description
  | You will find three main outside areas on Dione star.
  br
  | The bow, hosts 2 jet skies and two tender, and when all of them are in the water, the two jet skis compartments can turn into narrow plunging pools (3,20 on 1,20).
