#sidr
    // Your content
    a#closeMenu(href='#')
      img(src='../images/sprite/hamburger_close.svg', alt='close')
    ul
      li
        a(href='/pages/landing.html') Outside
      li
        a(href='/pages/inside.html') Inside
      li.active
        a(href='/pages/life_on_board.html') Life on board
      li
        a(href='/pages/logbook.html') Logbook
      li
        a(href='/pages/events.html') Events
      li
        a(href='/pages/specs.html') Specs
      li
        a(href='/pages/login.html') Login
      //li
        //a.enquire-button(href="#enquire-modal", rel="modal:open") Enquire
