#sidr
    // Your content
    a#closeMenu(href='#')
      img(src='../images/sprite/hamburger_close.svg', alt='close')
    ul
      li
        a(href='../index.html') Outside
      li
        a.prevent(href='/pages/inside.html') Inside
      li
        a(href='/pages/life_on_board.html') Life on board
      li
        a(href='/pages/logbook.html') Logbook
      //- li
      //-   a.prevent(href='/pages/events.html') Events
      li
        a.prevent(href='/pages/specs.html') Specs
      li.login
        a(href='/pages/login.html') Login
      li.logout
        a(href='#') Logout
      //- li
      //-   a.enquire-button(href="#enquire-modal", rel="modal:open") Enquire
      //- li
      //-   a.enquire-button(href="#plan-modal", rel="modal:open") Plan
