#sidr
    // Your content
    a#closeMenu(href='#')
      img(src='../images/sprite/hamburger_close.svg', alt='close')
    ul
      li
        a(href='/pages/landing.html') Home
      li
        a(href='/pages/yacht_charter.html') The yacht
      li.active
        a(href='/pages/yacht_brokerage.html') Life on board
      li
        a(href='/pages/yacht_purchase.html') Logbook
      li
        a(href='/pages/bareboat.html') Events
      li
        a(href='/pages/expeditions_planning.html') Destinations
      li
        a(href='/pages/expeditions_planning.html') Extra
      li
        a.enquire-button(href="#enquire-modal", rel="modal:open") Enquire