extends ../layouts/_section_intro.jade


block first-list-item
  a.button(href="#") The Sails
block second-list-item
  a.button(href="#") Planimetry
block third-list-item
  a.button(href="#") Machinery
block fourth-list-item
  a.button(href="#") Tankage
block title 
  | Tankage
block description
  | The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe use the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.
