extends ../layouts/_section_intro.jade

block menu-list
  ul#intro-menu
    li
      a.button(href="#") Intro
    li
      a.button(href="#") The Sails
    li
      a.button(href="#") Planimetry
    li
      a.button.active(href="#") Machinery
    li
      a.button(href="#") Tankage
block title 
  | Machinery
block description
  | The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe use the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.
