extends ../layouts/_section_intro.jade

block menu-list
  ul#intro-menu
    li
      a.button(href="#") Intro
    li
      a.button(href="#") 
    li
      a.button(href="#") 
    li
      a.button(href="#") 

block title 
  | The Stern
block description
  | The stern of Dione opens up to form a small swimming and landing platform. It has two separate swimming ladders with different inclinations, and director chairs for intimate chats. From here guests enjoy fishing in the evenings, while under way, fishing is best from the flat bridge behind the Bimini sofa.
