extends ../layouts/_section_intro.jade

block menu-list
  ul#intro-menu-hide
    li
      a.button(href="#") Intro


block title 
  | The Stern
block description
  | The stern of Dione opens up to form a small swimming and landing platform. It has two separate swimming ladders with different inclinations, and director chairs for intimate chats. From here guests enjoy fishing in the evenings, while under way, fishing is best from the flat bridge behind the Bimini sofa.
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="3", data-pin="31")
    | See on plan
