extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#20") The range to roam
    li
      a.button.active(href="#21") Nautical mile



block title 
  | Nautical mile 5.000
block description
  | When under power, and with one generator running for domestic loads, there is enough fuel for a range of 5,000 nautical miles at cruising speed. This unusually long range gives tremendous flexibility for exploring remote areas, and for making sustained passages in complete safety. Better still, using the sails, can extend the range even further.
  br
  a.see-plan(href="#plan-modal", rel="modal:open", data-deck="1", data-pin="16")
    | See on plan
