extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#") Ample power
    li
      a.button(href="#") Uninterrupted power



block title 
  | Ample power
block description
  | Responding to modern demands for ample mains power afloat, and to provide the maximum comfort to the guests, the refit included the upgrading of the two existing main generators. The most efficient models available were chosen, and comprise two US-made 80kW Kohler units, and one 16kW emergency unit from the Canadian-based specialists Northern Lights. The generators are housed in two soundproofed engine bays, and as the yacht draws a daily average of 40kW on charter, only one main generator needs to be running. The second is used as a back‐up, or in case of maintenance to the first.
