extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button(href="#30") Ample power
    li
      a.button.active(href="#31") Uninterrupted power



block title 
  | Uninterrupted power
block description
  | Uninterrupted power is vital when supplying sensitive equipment such as computers, navigation gear and some communications systems, so if the designated generator falters, another kicks in automatically with no loss of service. The air conditioning and desalination units are similarly equipped, and able to switch between power supplies for business as usual.
