extends ../layouts/_section_intro.jade


block menu-list
  ul#intro-menu
    li
      a.button.active(href="#") Intro
    li
      a.button(href="#") Nautical mile



block title 
  | The range to roam
block description
  | Dione Star has a heavy displacement hull, which shoulders the sea aside without the need for an oversized engine. The 550 horsepower diesel and its soundproofed engine bay has been refined and upgraded, and the shaft is coupled to a variable pitch propeller for maximum fuel efficiency. Her top speed is 13 knots in smooth conditions, but she is at her most economical at 11 knots, where she burns just 55 liters an hour, half as much as at top speed. This itself is a very respectable return for a yacht of this size and complexity.
