block section
  section.center
    .clear
    .main-text.home
      p.subtitle
        | — Tech spec intro —
      p#yacht_title
        block statement1
          | Built in 1991 by a reputable Dutch yard, Dione Star is a classic example of fundamental refinement. She was extensively modernised between 2011-2013 and now boasts every creature comfort you could wish for. Whether your dream is to island hop in the Caribbean, or make a trans-Atlantic passage, Dione Star will carry you in supreme comfort and safety.
          br
          | The new owner spared no expense during the two-year refit, and worked closely with the original designers to make the yacht even better than new. With the Lloyds-class steel hull lengthened to 43.8m, there is ample accommodation for up to 12 guests, as well as the professional crew of 11.
          br
          | Whilst Dione Star is styled and trimmed as a traditional sailing yacht, every system is a masterpiece of simple efficiency. She has a rugged 550hp engine that delivers a cruising speed of 11 knots, whilst the domestic loads are met by two powerful AC generators. Remotely housed in soundproof compartments, they power everything from the air-conditioning system and laundry to the stores chillers and desalination plants. Two skilled engineers and ample back-up systems are on hand to keep everything running smoothly.

      .clear
      
      
    .clear
  div.hslide#hslide1.bg-img-slide(style="background-image:url('/images/landing/IMG_0687.jpg')")
