
////////////////Outside

//Outside intro
#slide1
	background-image url("/images/outside/intro/outside_01.jpg")
#slide30
	background-image url("/images/outside/intro/outside_02.jpg")
#slide31
	background-image url("/images/outside/intro/outside_03.jpg")
#slide32
	background-image url("/images/outside/intro/outside_04.jpg")
#slide34
	background-image url("/images/outside/intro/outside_06.jpg")



//Bimini
#slide5
	background-image url("/images/outside/bimini/bimini_01.jpg")
#slide7
	background-image url("/images/outside/bimini/bimini_02.jpg")
#slide8
	background-image url("/images/outside/bimini/bimini_03.jpg")
#slide9
	background-image url("/images/outside/bimini/bimini_04.jpg")
#slide15
	background-image url("/images/outside/bimini/bimini_05.jpg")
#slide16
	background-image url("/images/outside/bimini/bimini_06.jpg")
#slide17
	background-image url("/images/outside/bimini/bimini_07.jpg")
#slide18
	background-image url("/images/outside/bimini/bimini_08.jpg")
#slide19
	background-image url("/images/outside/bimini/bimini_09.jpg")
#slide20
	background-image url("/images/outside/bimini/bimini_10.jpg")
#slide21
	background-image url("/images/outside/bimini/bimini_11.jpg")
#slide22
	background-image url("/images/outside/bimini/bimini_12.jpg")


//Fly
#slide10
	background-image url("/images/outside/fly/fly_01.jpg")
#slide40
	background-image url("/images/outside/fly/fly_02.jpg")
#slide41
	background-image url("/images/outside/fly/fly_03.jpg")
#slide42
	background-image url("/images/outside/fly/fly_04.jpg")
#slide43
	background-image url("/images/outside/fly/fly_05.jpg")
#slide44
	background-image url("/images/outside/fly/fly_06.jpg")
#slide45
	background-image url("/images/outside/fly/fly_07.jpg")
#slide46
	background-image url("/images/outside/fly/fly_08.jpg")
#slide47
	background-image url("/images/outside/fly/fly_09.jpg")
#slide48
	background-image url("/images/outside/fly/fly_10.jpg")
#slide49
	background-image url("/images/outside/fly/fly_11.jpg")

//Stern
#slide11
	background-image url("/images/outside/stern/stern_01.jpg")
#slide12
	background-image url("/images/outside/stern/stern_02.jpg")






///////////////INSIDE - 50+

//intro
#slide50
	background-image url("/images/inside/21_intro/intro.jpg")
//dining
#slide51
	background-image url("/images/inside/22_dining/dining_1.jpg")
#slide52
	background-image url("/images/inside/22_dining/dining_2.jpg")
#slide53
	background-image url("/images/inside/22_dining/dining_3.jpg")
#slide54
	background-image url("/images/inside/22_dining/dining_4.jpg")
#slide55
	background-image url("/images/inside/22_dining/dining_5.jpg")
#slide56
	background-image url("/images/inside/22_dining/dining_6.jpg")
#slide57
	background-image url("/images/inside/22_dining/dining_7.jpg")
#slide58
	background-image url("/images/inside/22_dining/dining_8.jpg")
#slide59
	background-image url("/images/inside/22_dining/dining_9.jpg")
#slide60
	background-image url("/images/inside/22_dining/dining_10.jpg")
#slide61
	background-image url("/images/inside/22_dining/dining_11.jpg")
#slide62
	background-image url("/images/inside/22_dining/dining_12.jpg")
#slide63
	background-image url("/images/inside/22_dining/dining_13.jpg")
#slide64
	background-image url("/images/inside/22_dining/dining_14.jpg")
#slide65
	background-image url("/images/inside/22_dining/dining_15.jpg")
#slide66
	background-image url("/images/inside/22_dining/dining_16.jpg")
#slide67
	background-image url("/images/inside/22_dining/dining_17.jpg")
#slide68
	background-image url("/images/inside/22_dining/dining_18.jpg")
#slide69
	background-image url("/images/inside/22_dining/dining_19.jpg")


//living

#slide70
	background-image url("/images/inside/23_living/living_1.jpg")
#slide71
	background-image url("/images/inside/23_living/living_2.jpg")
#slide72
	background-image url("/images/inside/23_living/living_3.jpg")
#slide73
	background-image url("/images/inside/23_living/living_4.jpg")
#slide74
	background-image url("/images/inside/23_living/living_5.jpg")
#slide75
	background-image url("/images/inside/23_living/living_6.jpg")
#slide76
	background-image url("/images/inside/23_living/living_7.jpg")
#slide77
	background-image url("/images/inside/23_living/living_8.jpg")
#slide78
	background-image url("/images/inside/23_living/living_9.jpg")
#slide79
	background-image url("/images/inside/23_living/living_10.jpg")


//main
#slide80
	background-image url("/images/inside/24_main/main_1.jpg")
#slide81
	background-image url("/images/inside/24_main/main_2.jpg")
#slide82
	background-image url("/images/inside/24_main/main_3.jpg")
#slide83
	background-image url("/images/inside/24_main/main_4.jpg")
#slide84
	background-image url("/images/inside/24_main/main_5.jpg")
#slide85
	background-image url("/images/inside/24_main/main_6.jpg")
#slide86
	background-image url("/images/inside/24_main/main_7.jpg")
#slide87
	background-image url("/images/inside/24_main/main_8.jpg")
#slide88
	background-image url("/images/inside/24_main/main_9.jpg")


//owner

#slide91
	background-image url("/images/inside/25_owner/owner_1.jpg")
#slide92
	background-image url("/images/inside/25_owner/owner_2.jpg")
#slide93
	background-image url("/images/inside/25_owner/owner_3.jpg")
#slide94
	background-image url("/images/inside/25_owner/owner_4.jpg")
#slide95
	background-image url("/images/inside/25_owner/owner_5.jpg")
#slide96
	background-image url("/images/inside/25_owner/owner_6.jpg")
#slide97
	background-image url("/images/inside/25_owner/owner_7.jpg")
#slide98
	background-image url("/images/inside/25_owner/owner_8.jpg")
#slide99
	background-image url("/images/inside/25_owner/owner_9.jpg")
#slide100
	background-image url("/images/inside/25_owner/owner_10.jpg")
#slide101
	background-image url("/images/inside/25_owner/owner_11.jpg")
#slide102
	background-image url("/images/inside/25_owner/owner_12.jpg")
#slide103
	background-image url("/images/inside/25_owner/owner_13.jpg")
#slide104
	background-image url("/images/inside/25_owner/owner_14.jpg")
#slide105
	background-image url("/images/inside/25_owner/owner_15.jpg")

//twin

#slide111
	background-image url("/images/inside/26_twin/twin_1.jpg")
#slide112
	background-image url("/images/inside/26_twin/twin_2.jpg")
#slide113
	background-image url("/images/inside/26_twin/twin_3.jpg")
#slide114
	background-image url("/images/inside/26_twin/twin_4.jpg")
#slide115
	background-image url("/images/inside/26_twin/twin_5.jpg")
#slide116
	background-image url("/images/inside/26_twin/twin_6.jpg")
#slide117
	background-image url("/images/inside/26_twin/twin_7.jpg")
#slide118
	background-image url("/images/inside/26_twin/twin_8.jpg")

//guest

#slide121
	background-image url("/images/inside/27_guest/guest_1.jpg")
#slide122
	background-image url("/images/inside/27_guest/guest_2.jpg")
#slide123
	background-image url("/images/inside/27_guest/guest_3.jpg")
#slide124
	background-image url("/images/inside/27_guest/guest_4.jpg")
#slide125
	background-image url("/images/inside/27_guest/guest_5.jpg")
#slide126
	background-image url("/images/inside/27_guest/guest_6.jpg")
#slide127
	background-image url("/images/inside/27_guest/guest_7.jpg")
#slide128
	background-image url("/images/inside/27_guest/guest_8.jpg")
#slide129
	background-image url("/images/inside/27_guest/guest_9.jpg")
#slide130
	background-image url("/images/inside/27_guest/guest_10.jpg")
#slide131
	background-image url("/images/inside/27_guest/guest_11.jpg")

//pilot
#slide132
	background-image url("/images/inside/28_pilot/pilot.jpg")


//bath
#slide133
	background-image url("/images/inside/29_bath/bath.jpg")

//crew
#slide141
	background-image url("/images/inside/210_crew/crew_1.jpg")
#slide142
	background-image url("/images/inside/210_crew/crew_2.jpg")
#slide143
	background-image url("/images/inside/210_crew/crew_3.jpg")
#slide144
	background-image url("/images/inside/210_crew/crew_4.jpg")
#slide145
	background-image url("/images/inside/210_crew/crew_5.jpg")
#slide146
	background-image url("/images/inside/210_crew/crew_6.jpg")
#slide147
	background-image url("/images/inside/210_crew/crew_7.jpg")
#slide148
	background-image url("/images/inside/210_crew/crew_8.jpg")
#slide149
	background-image url("/images/inside/210_crew/crew_9.jpg")
#slide150
	background-image url("/images/inside/210_crew/crew_10.jpg")
#slide151
	background-image url("/images/inside/210_crew/crew_11.jpg")
#slide152
	background-image url("/images/inside/210_crew/crew_12.jpg")
#slide153
	background-image url("/images/inside/210_crew/crew_13.jpg")
#slide154
	background-image url("/images/inside/210_crew/crew_14.jpg")
#slide155
	background-image url("/images/inside/210_crew/crew_15.jpg")






///////////////LIFEONBOARD 160+

//intro
#slide160
	background-image url("/images/lifeonboard/31_intro/intro.jpg")


//ondeck
#slide161
	background-image url("/images/lifeonboard/32_ondeck/intro.jpg")
#slide162
	background-image url("/images/lifeonboard/32_ondeck/onsail.jpg")
#slide163
	background-image url("/images/lifeonboard/32_ondeck/below.jpg")


//cabins
#slide164
	background-image url("/images/lifeonboard/33_cabins/intro.jpg")
#slide165
	background-image url("/images/lifeonboard/33_cabins/commodities.jpg")


//mingle
#slide166
	background-image url("/images/lifeonboard/34p_mingle/intro.jpg")
#slide167
	background-image url("/images/lifeonboard/34p_mingle/dining.jpg")
#slide168
	background-image url("/images/lifeonboard/34p_mingle/sunbathing.jpg")


//tender
#slide167
	background-image url("/images/lifeonboard/35_tender/351_intro/intro.jpg")
#slide168
	background-image url("/images/lifeonboard/35_tender/352_tenders/tenders_1.jpg")
#slide169
	background-image url("/images/lifeonboard/35_tender/352_tenders/tenders_2.jpg")
#slide170
	background-image url("/images/lifeonboard/35_tender/352_tenders/tenders_3.jpg")
#slide171
	background-image url("/images/lifeonboard/35_tender/352_tenders/tenders_4.jpg")
#slide172
	background-image url("/images/lifeonboard/35_tender/352_tenders/tenders_5.jpg")
#slide173
	background-image url("/images/lifeonboard/35_tender/352_tenders/tenders_6.jpg")
#slide174
	background-image url("/images/lifeonboard/35_tender/353_platforms/platforms_1.jpg")
#slide175
	background-image url("/images/lifeonboard/35_tender/353_platforms/platforms_2.jpg")
#slide176
	background-image url("/images/lifeonboard/35_tender/353_platforms/platforms_3.jpg")
#slide177
	background-image url("/images/lifeonboard/35_tender/353_platforms/platforms_4.jpg")
#slide178
	background-image url("/images/lifeonboard/35_tender/353_platforms/platforms_5.jpg")
#slide179
	background-image url("/images/lifeonboard/35_tender/353_platforms/platforms_6.jpg")
#slide1790
	background-image url("/images/lifeonboard/resting.jpg")





///////////////LOGBOOK  +180

//intro
#slide180
	background-image url("/images/logbook/41p_intro/intro.jpg")


//maximising
#slide181
	background-image url("/images/logbook/42_maximisingcomfort/intro.jpg")
#slide182
	background-image url("/images/logbook/42_maximisingcomfort/winwin.jpg")

//standards
#slide183
	background-image url("/images/logbook/43_standards/intro.jpg")
#slide184
	background-image url("/images/logbook/43_standards/comfort.jpg")

//homefrom
#slide185
	background-image url("/images/logbook/44p_homefromhome/intro.jpg")

//destination
#slide186
	background-image url("/images/logbook/45_destination/intro.jpg")
#slide187
	background-image url("/images/logbook/45_destination/caribbean.jpg")
#slide188
	background-image url("/images/logbook/45_destination/crossing.jpg")
#slide189
	background-image url("/images/logbook/45_destination/mediterranean_1.jpg")
#slide190
	background-image url("/images/logbook/45_destination/mediterranean_2.jpg")

//crew
#slide191
	background-image url("/images/logbook/46p_crew/intro.jpg")
#slide192
	background-image url("/images/logbook/46p_crew/memo_1.jpg")
#slide193
	background-image url("/images/logbook/46p_crew/memo_2.jpg")
#slide194
	background-image url("/images/logbook/46p_crew/memo_3.jpg")



///////////////EVENTS +195

#slide195
	background-image url("/images/events/51_intro/intro.jpg")
#slide196
	background-image url("/images/events/events_1.jpg")
#slide197
	background-image url("/images/events/events_2.jpg")





///////////////SPECS +200

//intro

#slide200
	background-image url("/images/tech/61_intro/intro.jpg")


//roam
#slide201
	background-image url("/images/tech/62_roam/intro.jpg")
#slide202
	background-image url("/images/tech/62_roam/nautical_1.jpg")
#slide203
	background-image url("/images/tech/62_roam/nautical_2.jpg")
#slide204
	background-image url("/images/tech/62_roam/nautical_3.jpg")


//ample

#slide205
	background-image url("/images/tech/63_ample/intro.jpg")
#slide206
	background-image url("/images/tech/63_ample/uninterrupted.jpg")


//planimetria
//
#slide206
	//background-image url("/images/tech/64_planimetria/planimetria.pdf")
