
//Outside intro
#slide1
	background-image url("/images/outside/intro/outside_01.jpg")
#slide30
	background-image url("/images/outside/intro/outside_02.jpg")
#slide31
	background-image url("/images/outside/intro/outside_03.jpg")
#slide32
	background-image url("/images/outside/intro/outside_04.jpg")
#slide34
	background-image url("/images/outside/intro/outside_06.jpg")



//Bimini
#slide5
	background-image url("/images/outside/bimini/bimini_01.jpg")
#slide7
	background-image url("/images/outside/bimini/bimini_02.jpg")
#slide8
	background-image url("/images/outside/bimini/bimini_03.jpg")
#slide9
	background-image url("/images/outside/bimini/bimini_04.jpg")
#slide15
	background-image url("/images/outside/bimini/bimini_05.jpg")
#slide16
	background-image url("/images/outside/bimini/bimini_06.jpg")
#slide17
	background-image url("/images/outside/bimini/bimini_07.jpg")
#slide18
	background-image url("/images/outside/bimini/bimini_08.jpg")
#slide19
	background-image url("/images/outside/bimini/bimini_09.jpg")
#slide20
	background-image url("/images/outside/bimini/bimini_10.jpg")
#slide21
	background-image url("/images/outside/bimini/bimini_11.jpg")
#slide22
	background-image url("/images/outside/bimini/bimini_12.jpg")


//Fly
#slide10
	background-image url("/images/outside/fly/fly_01.jpg")
#slide40
	background-image url("/images/outside/fly/fly_02.jpg")
#slide41
	background-image url("/images/outside/fly/fly_03.jpg")
#slide42
	background-image url("/images/outside/fly/fly_04.jpg")
#slide43
	background-image url("/images/outside/fly/fly_05.jpg")
#slide44
	background-image url("/images/outside/fly/fly_06.jpg")
#slide45
	background-image url("/images/outside/fly/fly_07.jpg")
#slide46
	background-image url("/images/outside/fly/fly_08.jpg")
#slide47
	background-image url("/images/outside/fly/fly_09.jpg")
#slide48
	background-image url("/images/outside/fly/fly_10.jpg")
#slide49
	background-image url("/images/outside/fly/fly_11.jpg")

//Stern
#slide11
	background-image url("/images/outside/stern/stern_01.jpg")
#slide12
	background-image url("/images/outside/stern/stern_02.jpg")
