#slide1
	background-image url("/images/landing/Intro_Decks.jpg")
#slide5
	background-image url("/images/landing/Intro_Cabines.jpg")
#slide10
	background-image url("/images/landing/Intro_Specs.jpg")
#slide12
	background-image url("/images/landing/bareboat.jpg")
#slide14
	background-image url("/images/landing/heritage.jpg")
	

