@import '_base'
@import 'nib'

@import '_side_menu'
@import '_arrows'

@import '_slides'
@import '_modal'
@import '_modal_plan'




///FORM
form
    margin-top 200px
    input
        color black

a
   outline 0 !important

#hide
  display none

.slide
  position: relative

.filtro
  background-color: black
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index 1
  opacity 0.4

.section
  position: relative
  background-color light-blue
*:focus
    outline none

#yacht_title
    text-align: left
#simple-menu
    z-index 9999
    position relative
#enquire-modal, #contact-us-modal
    z-index 4 !important
.hslide, .statement
    display none
.slide
    padding: 0
    background-repeat: no-repeat
    background-size: cover
    background-position center center
.imageHolder
    img
        bottom 0


    a
        transform(translateZ(1px))

div#landing-menu
     position fixed
     top 0
     left 0
     right 0
     height 60px
     z-index 3
     div.center
         top 20px
    ul#anchor-menu
        margin-left 80px !important
        li
            margin-right: 35px
            text-align left !important
        a
            outline 0
            font-family: 'futura_bqregular', sans-serif
            font-weight normal !important
            text-rendering optimizeLegibility
            color white
            font-size 15px
            line-height 15px
            letter-spacing 1.8px
            text-transform uppercase
            text-decoration none
            &.active, &:hover, &:active
                color light-blue
                border-bottom 1px solid light-blue
            &.active
                border-bottom 1px solid light-blue

div#sidr
    z-index 4


div.bg-img-slide
    background-size cover
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    backgrou
    nd-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;


// Hamburger
a#simple-menu
  padding 14px

  span
    display none

  #hide
    display block

a#simple-menu
    font-family "Alegreya Sans", "Helvetica Neue", sans-serif
    font-weight 300
    text-rendering optimizeLegibility
    color white
    font-size 15px
    line-height 15px
    letter-spacing 1px
    text-align center
    text-transform uppercase
    text-decoration none
    padding 0
    margin 0
    position fixed
    top 0
    left 0
    padding 22px
    background-color light-blue

 .fast-hide
    opacity 0
    transition(opacity, 0)
.hide
    opacity 0
    transition(opacity, 1s)

.show
    opacity 1
    transition(opacity, 1s)





.section
  background-size cover
  background-repeat no-repeat


section.center

    ul#anchor-menu
        column(8/12)
        shift(2/12)

    z-index 2
    padding 0 20px
    ul#intro-menu
        position relative
        column(12/12)
        margin-bottom 60px
        li
            position relative
            float left
            margin-bottom 4px
            margin-right 4px
            a.button
                width 100%
                font-size 15px
                line-height 17px
                letter-spacing 1px
                font-weight normal !important
    ul#intro-menu-hide
        display none
    div.main-text
        position relative
        column(12/12)
        margin-top 50px
        margin-bottom 30px
        margin 0
        h1
            // font-size rem(62px)
            // line-height rem(60px)
            // margin 7px 0 30px 0
            font-size 2em
            margin .1em
        p
            
            font-size rem(13px)
            line-height rem(14px)
            
            letter-spacing 1px
            font-weight 300
            margin 0
            //
            column(8/8)
    div.main-text.home
        h1
            margin-bottom 44px
        p
            margin-bottom 40px
        p.subtitle
            margin-bottom 20px
        hr.line-spacer
            width 98%
            height 1px
            border none
            background-color white
            margin 0 auto
            margin-bottom 24px
            position relative
            clear both
            display inline-block
        p.length
            font-family 'futura_bqregular', sans-serif
            font-weight normal !important
            font-size 16px
            line-height 16px
            letter-spacing 2px
            margin-bottom 0
            span
                font-size 44px
                padding 0 10%
    a.button
        position relative
        clear both
        display inline-block
        margin 0
        padding 9px 24px
        background-color light-blue
        font-size rem(13px)
        line-height rem(15px)
        text-decoration none
        opacity(0.7)
    a.button:hover,a.button.active
        opacity(1)








.prevent
  opacity .34 !important
  cursor default
  &:before
    font-family FontAwesome
    content '\f023  '

+below(480px)
    .fp-controlArrow
        top auto
        bottom 5px
    .fp-slidesNav.bottom
        display none !important
    .slide.mobile-slide
        display inline-block
    .scroll
        display none




+above(480px)
    a#simple-menu
      padding 14px

      span
        display block

      #hide
        display none

    .slide.mobile-slide
        display none
    ul#anchor-menu
        margin-left 0 !important
    div#landing-menu

        center(100%, 80px)

        .center
            overflow hidden
            padding 0
            .scroll

                width 100%
            ul
                display inline-block
    section.center
        center(100%, 80px)

+above(600px)
    div#landing-menu
        center(700px, 80px)
    section.center
        center(700px, 80px)







+above(480px)
    .scroll
        display block
    div#landing-menu
        center(980px, 0px)
        ul#anchor-menu
            column(9/12)
            shift(2/12)
            li
                margin-right: 45px

    section.center
        center(980px, 0px)
        ul#anchor-menu
            column(8/12)
            shift(2/12)
        ul#intro-menu
            column(3/12)
            shift(1/12)
            padding-top 15px
            position relative
            margin 0
            li
                width 100%
                margin-right 0
        div.main-text
            column(8/12)
            shift(1.5/12)
            border-left 1px solid white
            padding-left 30px
            h1
              font-size rem(62px)
              line-height rem(60px)
              margin 7px 0 30px 0
                // font-size rem(105px)
                // line-height rem(93px)
            p
              font-size rem(18px)
              line-height rem(20px)
        div.main-text.home
            position relative
            column(8/12)
            shift(2/12)
            text-align center
            border 1px solid white
            padding 30px 0
            h1
                margin-bottom 44px
            p
                column(6/8)
                shift(1/8)
                margin-bottom 60px
            p.subtitle
                margin-bottom 40px
            p.length
                column(6/8)
                shift(1/8)
                margin-bottom 0
                span
                    padding 0 18%

      .con-menu
        div
          section.center
            div.main-text
              column(6/12)

              h1
                font-size 3.5em
                margin-bottom 15px
                line-height 4rem


+above(768px)
    .scroll
        display block
    div#landing-menu
        center(1400px, 0px)
        ul#anchor-menu
            column(8/12)
            shift(2/12)
            li
                margin-right: 45px

    section.center
        center(1400px, 0px)
        ul#anchor-menu
            column(8/12)
            shift(2/12)
        ul#intro-menu
            column(3/12)
            shift(2/12)
            padding-top 15px
            position relative
            li
                width 100%
                margin-right 0
        div.main-text
            column(8/12)
            shift(2/12)
            border-left 1px solid white
            padding-left 30px
            h1
                font-size rem(105px)
                line-height rem(93px)
        div.main-text.home
            position relative
            column(8/12)
            shift(2/12)
            text-align center
            border 1px solid white
            padding 30px 0
            h1
                margin-bottom 44px
            // p
            //     column(4/8)
            //     shift(2/8)
            //     margin-bottom 60px
            p.subtitle
                margin-bottom 40px
            p.length
                column(6/8)
                shift(1/8)
                margin-bottom 0
                span
                    padding 0 18%


+desktop()

  .scroll
      display block
  div#landing-menu
      center(1400px, 0px)
      ul#anchor-menu
          column(8/12)
          shift(2/12)
          li
              margin-right: 45px
  .con-menu
      div
        section.center
          div.main-text
            column(4/12)

            h1
              font-size 3.5em
              margin-bottom 15px
              line-height 4rem

  section.center
      center(1400px, 0px)
      ul#anchor-menu
          column(8/12)
          shift(2/12)
      ul#intro-menu
          column(2/12)
          shift(2/12)
          padding-top 15px
          position relative
          li
              width 100%
              margin-right 0
      div.main-text
          column(4/12)
          shift(2/12)
          border-left 1px solid white
          padding-left 30px
          h1
              //column(8/12)
              font-size rem(105px)
              line-height rem(93px)
          p
            //column(9/12)
          // .fly
          //   columns(12/12)
      div.main-text.home
          position relative
          column(8/12)
          shift(2/12)
          text-align center
          border 1px solid white
          padding 30px 0
          h1
              margin-bottom 44px
              //columns(12/12)
          // p
          //     column(4/8)
          //     shift(2/8)
          //     margin-bottom 60px
          p.subtitle
              margin-bottom 40px
          p.length
              column(6/8)
              shift(1/8)
              margin-bottom 0
              span
                  padding 0 18%




  .desk-col
    div
      .section.center
        #main-text
          background white
          width 10%





  // // Dropdown menu
  // #m20
  //   cursor pointer
  //
  //
  // #dropdown-menu
  //   border-top 1px solid white
  //   padding 0
  //   padding-left 30px
  //   padding-top 5px
  //   position absolute
  //   top 21px
  //   left 0
  //   -webkit-box-shadow: none
  //   -moz-box-shadow none
  //   box-shadow none
  //   display none
  //   //opacity 0
  //   //visibility hidden
  //   -webkit-transiton opacity 0.2s
  //   -moz-transition opacity 0.2s
  //   -ms-transition opacity 0.2s
  //   -o-transition opacity 0.2s
  //   -transition opacity 0.2s
  .con-menu
    div
      section.center
        div.main-text
          h1
            font-size 4.5em
            margin-bottom 22px
            line-height 4.2rem



+below(1280px)
  #m20
    display none

  #dropdown-menu
    display inline-block !important

//ok
+above(1280px)
  // Dropdown menu
  #m20
    cursor pointer
    display inline-block


  #dropdown-menu
    border-top 1px solid white
    padding 0
    padding-left 30px
    padding-top 5px
    position absolute
    top 21px
    left 0
    -webkit-box-shadow: none
    -moz-box-shadow none
    box-shadow none
    display none
    //opacity 0
    //visibility hidden
    -webkit-transiton opacity 0.2s
    -moz-transition opacity 0.2s
    -ms-transition opacity 0.2s
    -o-transition opacity 0.2s
    -transition opacity 0.2s

















// LOGIN

#login
  position relative
  top -70px !important

#login-header
  column(12/12)
  shift(.5/12)
  margin-bottom 50px
  position relative
  //top -200px

  p
    column(12/12)

#login-form
    font-family "Alegreya Sans", "Helvetica Neue", sans-serif
    font-weight light
    margin-top 0 !important
    text-align left
    width 100%
    height 300px
    position relative
    left 0%
    .login-elements
      padding 10px
      width 100%
      label
        //

      input
        font-family "Alegreya Sans", "Helvetica Neue", sans-serif
        border 0
        display block
        padding 10px 10px 5px 5px
        width 100%
        margin-top 8px
        //align(both)
      .btn
        margin 0 auto
        border 0
        padding 8px 30px
        background #9dd2cc
        color white
      .button-container
        width 100px !important
        .btn
          float left



+above(480px)

  #login
    position relative
    top -150px !important

  #login-header
    column(12/12)
    shift(2/12)
    margin-bottom 50px
    position relative
    //top -200px
    p
      column(5/12)

  #login-form
      font-family "Alegreya Sans", "Helvetica Neue", sans-serif
      font-weight light
      margin-top 0 !important
      text-align left
      width 320px
      height 300px
      position relative
      left 16.166667%
      .login-elements
        padding 10px
        width 100%
        label
          //

        input
          font-family "Alegreya Sans", "Helvetica Neue", sans-serif
          border 0
          display block
          padding 10px 10px 5px 5px
          width 100%
          margin-top 8px
          //align(both)
        .btn
          margin 0 auto
          border 0
          padding 8px 30px
          background #9dd2cc
          color white
        .button-container
          width 100px !important
          .btn
            float left




#error
  display none
  position relative
  bottom 29px
  left 120px
  font-size 1.3em
  color white
  &:before
  font-family FontAwesome
    content '\f071  '

#success
  display none
  position relative
  bottom 29px
  left 120px
  font-size 1.3em
  color white
  &:before
  font-family FontAwesome
    content '\f14a  '
