@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500");
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic");
@font-face {
  font-family: 'futura_bqregular';
  src: url("../fonts/Futura Demi/futurabq-demibold-webfont.eot");
  src: url("../fonts/Futura Demi/futurabq-demibold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Futura Demi/futurabq-demibold-webfont.woff2") format('woff2'), url("../fonts/Futura Demi/futurabq-demibold-webfont.woff") format('woff'), url("../fonts/Futura Demi/futurabq-demibold-webfont.ttf") format('truetype'), url("../fonts/Futura Demi/futurabq-demibold-webfont.svg#futura_bqregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #103158;
  margin: 0;
}
body,
input {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #fff;
}
body section.center,
input section.center {
  margin: 0 auto;
  position: relative;
}
body div.clear,
input div.clear {
  width: 0;
  height: 0;
  clear: both;
  display: block;
}
body ul,
input ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body ul li,
input ul li {
  margin: 0;
  padding: 0;
}
body .uppercase,
input .uppercase {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
a {
  font-family: 'futura_bqregular', sans-serif;
  font-weight: normal !important;
  color: #fff;
}
div#landing-menu {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 20px;
}
div#landing-menu .center {
  *zoom: 1;
  width: auto;
  max-width: 1400px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  overflow-x: scroll;
  z-index: 4;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  position: relative;
  height: 40px;
}
div#landing-menu .center:before,
div#landing-menu .center:after {
  content: '';
  display: table;
}
div#landing-menu .center:after {
  clear: both;
}
div#landing-menu .center .scroll {
  width: 200%;
  position: relative;
  height: 40px;
}
div#landing-menu .center ul {
  display: block;
}
div#landing-menu .center ul li {
  display: inline-block;
}
a#closeMenu {
  margin: 0;
  position: relative;
  width: 100%;
  display: block;
}
a#closeMenu img {
  width: 17px;
  height: 17px;
  margin: 20px auto 0 auto;
  display: block;
}
a#closeMenu:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 1;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-family: "Alegreya Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background: #9dd2cc;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidr h1,
.sidr h2,
.sidr h3,
.sidr h4,
.sidr h5,
.sidr h6 {
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidr ul {
  border-top: none;
  border-bottom: none;
}
.sidr ul li {
  border-top: none;
  border-bottom: none;
}
.sidr ul li:hover>a,
.sidr ul li:hover>span,
.sidr ul li.active>a,
.sidr ul li.active>span,
.sidr ul li.sidr-class-active>a,
.sidr ul li.sidr-class-active>span {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidr ul li ul li:hover>a,
.sidr ul li ul li:hover>span,
.sidr ul li ul li.active>a,
.sidr ul li ul li.active>span,
.sidr ul li ul li.sidr-class-active>a,
.sidr ul li ul li.sidr-class-active>span {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div#side-menu-logo {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
div#side-menu-logo img {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: inherit;
}
.sidr ul {
  padding: 0;
  margin: 50px 0;
}
.sidr ul li {
  padding-top: 15px;
  padding-bottom: 15px;
}
.sidr ul li a {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.sidr ul li:hover {
  background-color: #ffc345;
}
.sidr ul li a.enquire-button {
  border: 2px solid #fff;
  padding: 15px 30px;
  margin: 0 40px;
}
.sidr ul li a.enquire-button:hover {
  background-color: #fff;
  color: #f4bb3b;
}
.sidr ul li:last-child {
  padding: 0;
  margin-top: 40px;
}
.sidr ul li:last-child:hover {
  background-color: #f4bb3b;
}
@media only screen and (max-width: 480px) {
  .sidr {
    width: 100%;
  }
}
.fp-controlArrow {
  border-style: none;
  bottom: 15px;
  top: auto;
}
.fp-controlArrow.fp-next {
  background: url("/images/sprite/next_arrow.svg");
  border-width: 0;
  border-color: #fff;
  width: 42px;
  height: 42px;
}
.fp-controlArrow.fp-prev {
  background: url("/images/sprite/prev_arrow.svg");
  border-width: 0;
  border-color: #fff;
  width: 42px;
  height: 42px;
}
.fp-controlArrow.fp-next:hover,
.fp-controlArrow.fp-prev:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.fp-controlArrow {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: #fff;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  background: rgba(0,0,0,0);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
#slide1 {
  background-image: url("/images/landing/Intro_Decks.jpg");
}
#slide5 {
  background-image: url("/images/landing/Intro_Cabines.jpg");
}
#slide10 {
  background-image: url("/images/landing/Intro_Specs.jpg");
}
#slide12 {
  background-image: url("/images/landing/bareboat.jpg");
}
#slide14 {
  background-image: url("/images/landing/heritage.jpg");
}
#slide_sy_1 {
  background-image: url("/images/landing/alaska.jpg");
}
#slide_sy_2 {
  background-image: url("/images/landing/alaska2.jpg");
}
#slide_sy_3 {
  background-image: url("/images/landing/alaska3.jpg");
}
#slide_sy_4 {
  background-image: url("/images/landing/alaska4.jpg");
}
#slide_sy_5 {
  background-image: url("/images/landing/heritage.jpg");
}
#slide_sy_6 {
  background-image: url("/images/landing/charter.jpg");
}
#slide_sy_7 {
  background-image: url("/images/landing/desert1.jpg");
}
#slide_sy_8 {
  background-image: url("/images/landing/desert2.jpg");
}
#slide_se_1 {
  background-image: url("/images/landing/alaska4.jpg");
}
#slide_se_2 {
  background-image: url("/images/landing/alaska3.jpg");
}
#slide_se_3 {
  background-image: url("/images/landing/alaska2.jpg");
}
#slide_se_4 {
  background-image: url("/images/landing/alaska.jpg");
}
.modal {
  width: 800px;
  background: #9dd2cc;
  padding: 30px 60px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  max-height: 100%;
  overflow-y: scroll;
}
.modal p {
  font-family: "Alegreya Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #fff;
}
.modal a.close-modal {
  position: absolute;
  top: 18px;
  right: 18px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url("../images/sprite/hamburger_close.svg") no-repeat 0 0;
}
.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url("../images/modal/spinner.gif") #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.jquery-modal.blocker {
  background: #103158 !important;
}
textarea#textarea {
  resize: vertical !important;
  min-height: 200px;
}
div#enquire-modal,
div#contact-us-modal {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 30px;
}
div#enquire-modal input::-webkit-input-placeholder,
div#contact-us-modal input::-webkit-input-placeholder,
div#enquire-modal textarea::-webkit-input-placeholder,
div#contact-us-modal textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.4) !important;
}
div#enquire-modal input:-moz-placeholder,
div#contact-us-modal input:-moz-placeholder,
div#enquire-modal textarea:-moz-placeholder,
div#contact-us-modal textarea:-moz-placeholder {
  color: rgba(255,255,255,0.4) !important;
}
div#enquire-modal input::-moz-placeholder,
div#contact-us-modal input::-moz-placeholder,
div#enquire-modal textarea::-moz-placeholder,
div#contact-us-modal textarea::-moz-placeholder {
  color: rgba(255,255,255,0.4) !important;
}
div#enquire-modal input:-ms-input-placeholder,
div#contact-us-modal input:-ms-input-placeholder,
div#enquire-modal textarea:-ms-input-placeholder,
div#contact-us-modal textarea:-ms-input-placeholder {
  color: rgba(255,255,255,0.4) !important;
}
div#enquire-modal .logo,
div#contact-us-modal .logo {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}
div#enquire-modal .logo img,
div#contact-us-modal .logo img {
  width: 70%;
  max-width: 230px;
}
div#enquire-modal .form-horizontal,
div#contact-us-modal .form-horizontal {
  width: auto;
  margin: 0 auto;
}
div#enquire-modal fieldset,
div#contact-us-modal fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
div#enquire-modal fieldset label,
div#contact-us-modal fieldset label {
  color: #fff;
  font-family: "Alegreya Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
  letter-spacing: 1px;
}
div#enquire-modal fieldset input,
div#contact-us-modal fieldset input,
div#enquire-modal fieldset textarea,
div#contact-us-modal fieldset textarea {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 8px;
  margin-bottom: 15px;
  color: #fff;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  width: 100%;
}
div#enquire-modal fieldset input:focus,
div#contact-us-modal fieldset input:focus,
div#enquire-modal fieldset textarea:focus,
div#contact-us-modal fieldset textarea:focus {
  background-color: #fff;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  color: #f4bb3b;
}
div#enquire-modal fieldset div.control-group,
div#contact-us-modal fieldset div.control-group {
  position: relative;
  float: left;
}
div#enquire-modal fieldset .control-group,
div#contact-us-modal fieldset .control-group {
  width: 100%;
}
div#enquire-modal fieldset .control-group.text-area,
div#contact-us-modal fieldset .control-group.text-area {
  width: 100%;
  max-width: 100%;
}
div#enquire-modal fieldset .control-group.checkboxes,
div#contact-us-modal fieldset .control-group.checkboxes {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 20px;
}
div#enquire-modal fieldset .control-group.checkboxes label.checkbox,
div#contact-us-modal fieldset .control-group.checkboxes label.checkbox {
  position: relative;
  float: left;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
}
div#enquire-modal fieldset .control-group.checkboxes input,
div#contact-us-modal fieldset .control-group.checkboxes input {
  position: absolute;
  width: auto;
  left: -20px;
}
div#enquire-modal fieldset .control-group.checkboxes label.control-label,
div#contact-us-modal fieldset .control-group.checkboxes label.control-label {
  margin-left: -20px;
}
div#enquire-modal fieldset .control-group.checkboxes .controls,
div#contact-us-modal fieldset .control-group.checkboxes .controls {
  margin-top: 10px;
}
div#enquire-modal fieldset .control-group.checkboxes .controls label,
div#contact-us-modal fieldset .control-group.checkboxes .controls label {
  margin-bottom: 8px;
}
div#enquire-modal fieldset .control-group.submit,
div#contact-us-modal fieldset .control-group.submit {
  text-align: center;
  width: 100%;
}
div#enquire-modal fieldset .control-group.submit input,
div#contact-us-modal fieldset .control-group.submit input {
  width: 30%;
  background-color: #fff;
  margin: 20px 0 5px 0;
  color: #f4bb3b;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
  letter-spacing: 1px;
}
div#enquire-modal fieldset .control-group.submit input:hover,
div#contact-us-modal fieldset .control-group.submit input:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
@media only screen and (max-width: 450px) {
  div#enquire-modal,
  div#contact-us-modal {
    position: relative !important;
    margin: 0 !important;
    left: 0 !important;
    top: 0 !important;
  }
}
@media only screen and (min-width: 450px) {
  div#enquire-modal,
  div#contact-us-modal {
    width: 80%;
  }
  div#enquire-modal .form-horizontal fieldset,
  div#contact-us-modal .form-horizontal fieldset {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset input,
  div#contact-us-modal .form-horizontal fieldset input,
  div#enquire-modal .form-horizontal fieldset textarea,
  div#contact-us-modal .form-horizontal fieldset textarea {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group,
  div#contact-us-modal .form-horizontal fieldset .control-group {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group.text-area,
  div#contact-us-modal .form-horizontal fieldset .control-group.text-area {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group.checkboxes,
  div#contact-us-modal .form-horizontal fieldset .control-group.checkboxes {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group.submit,
  div#contact-us-modal .form-horizontal fieldset .control-group.submit {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group.submit input,
  div#contact-us-modal .form-horizontal fieldset .control-group.submit input {
    width: 30%;
  }
}
@media only screen and (min-width: 768px) {
  div#enquire-modal .form-horizontal,
  div#contact-us-modal .form-horizontal {
    width: 70%;
    margin: 0 auto;
  }
  div#enquire-modal fieldset .control-group.name,
  div#contact-us-modal fieldset .control-group.name,
  div#enquire-modal fieldset .control-group.surname,
  div#contact-us-modal fieldset .control-group.surname,
  div#enquire-modal fieldset .control-group.phonenum,
  div#contact-us-modal fieldset .control-group.phonenum,
  div#enquire-modal fieldset .control-group.mail,
  div#contact-us-modal fieldset .control-group.mail {
    width: 48%;
    margin-right: 2%;
  }
  div#enquire-modal fieldset .control-group.text-area,
  div#contact-us-modal fieldset .control-group.text-area {
    width: 98% !important;
  }
  div#enquire-modal fieldset .control-group.checkboxes label.checkbox,
  div#contact-us-modal fieldset .control-group.checkboxes label.checkbox {
    position: relative;
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 940px) {
  div#enquire-modal fieldset .control-group.checkboxes label.checkbox,
  div#contact-us-modal fieldset .control-group.checkboxes label.checkbox {
    width: 33%;
    margin-right: 0;
  }
}
.map {
  height: 100%;
  width: 100%;
}
.gm-style-iw * {
  display: block;
  width: 100%;
}
.gm-style-iw h4,
.gm-style-iw p {
  margin: 0;
  padding: 0;
}
.gm-style-iw a {
  color: #4272db;
}
a {
  outline: 0 !important;
}
*:focus {
  outline: none;
}
#sailogy_holder {
  width: 100%;
  background: #103158;
}
#sailogy_holder iframe {
  width: 100% !important;
  border: 0;
  frameborder: 0;
  background: #103158;
  overflow: hidden;
  scrolling: no;
}
#sailogy_holder iframe:focus {
  outline: none;
}
#simple-menu {
  z-index: 9999;
  position: relative;
}
#enquire-modal,
#contact-us-modal {
  z-index: 4 !important;
}
.hslide,
.statement {
  display: none;
}
.slide {
  padding: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.imageHolder img {
  bottom: 0;
}
.imageHolder a {
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  transform: translateZ(1px);
}
div#landing-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 3;
}
div#landing-menu div.center {
  top: 20px;
}
ul#anchor-menu {
  margin-left: 80px !important;
}
ul#anchor-menu li {
  margin-right: 35px;
  text-align: left !important;
}
ul#anchor-menu a {
  outline: 0;
  font-family: 'futura_bqregular', sans-serif;
  font-weight: normal !important;
  text-rendering: optimizeLegibility;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-decoration: none;
}
ul#anchor-menu a.active,
ul#anchor-menu a:hover,
ul#anchor-menu a:active {
  color: #9dd2cc;
  border-bottom: 1px solid #9dd2cc;
}
ul#anchor-menu a.active {
  border-bottom: 1px solid #9dd2cc;
}
div#sidr {
  z-index: 4;
}
div.bg-img-slide {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
a#simple-menu {
  font-family: "Alegreya Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 22px;
  background-color: #9dd2cc;
}
.fast-hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0;
  -moz-transition: opacity 0;
  -o-transition: opacity 0;
  -ms-transition: opacity 0;
  transition: opacity 0;
}
.hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
.show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
section.center {
  z-index: 2;
  padding: 0 20px;
}
section.center ul#intro-menu {
  position: relative;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 60px;
}
section.center ul#intro-menu:before,
section.center ul#intro-menu:after {
  content: '';
  display: table;
}
section.center ul#intro-menu:after {
  clear: both;
}
section.center ul#intro-menu:last-child {
  margin-right: 0%;
}
section.center ul#intro-menu li {
  position: relative;
  float: left;
  margin-bottom: 4px;
  margin-right: 4px;
}
section.center ul#intro-menu li a.button {
  width: 100%;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 1px;
  font-weight: normal !important;
}
section.center div.main-text {
  position: relative;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 50px;
  margin-bottom: 30px;
  margin: 0;
}
section.center div.main-text:before,
section.center div.main-text:after {
  content: '';
  display: table;
}
section.center div.main-text:after {
  clear: both;
}
section.center div.main-text:last-child {
  margin-right: 0%;
}
section.center div.main-text h1 {
  font-size: 71px;
  font-size: 4.4375rem;
  line-height: 65px;
  line-height: 4.0625rem;
  margin: 7px 0 30px 0;
}
section.center div.main-text p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 17px;
  line-height: 1.0625rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
}
section.center div.main-text.home h1 {
  margin-bottom: 44px;
}
section.center div.main-text.home p {
  margin-bottom: 40px;
}
section.center div.main-text.home p.subtitle {
  margin-bottom: 20px;
}
section.center div.main-text.home hr.line-spacer {
  width: 98%;
  height: 1px;
  border: none;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 24px;
  position: relative;
  clear: both;
  display: inline-block;
}
section.center div.main-text.home p.length {
  font-family: 'futura_bqregular', sans-serif;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 0;
}
section.center div.main-text.home p.length span {
  font-size: 44px;
  padding: 0 10%;
}
section.center a.button {
  position: relative;
  clear: both;
  display: inline-block;
  margin: 0;
  padding: 9px 24px;
  background-color: #9dd2cc;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 15px;
  line-height: 0.9375rem;
  text-decoration: none;
}
section.center a.button:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
@media only screen and (max-width: 480px) {
  .fp-controlArrow {
    display: none !important;
  }
  .slide.mobile-slide {
    display: inline-block;
  }
  .scroll {
    display: none;
  }
}
@media only screen and (min-width: 480px) {
  .slide.mobile-slide {
    display: none;
  }
  ul#anchor-menu {
    margin-left: 0 !important;
  }
  div#landing-menu {
    *zoom: 1;
    width: auto;
    max-width: 100%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  div#landing-menu:before,
  div#landing-menu:after {
    content: '';
    display: table;
  }
  div#landing-menu:after {
    clear: both;
  }
  div#landing-menu .center {
    overflow: hidden;
    padding: 0;
  }
  div#landing-menu .center .scroll {
    width: 100%;
  }
  div#landing-menu .center ul {
    display: inline-block;
  }
  section.center {
    *zoom: 1;
    width: auto;
    max-width: 100%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  section.center:before,
  section.center:after {
    content: '';
    display: table;
  }
  section.center:after {
    clear: both;
  }
}
@media only screen and (min-width: 600px) {
  div#landing-menu {
    *zoom: 1;
    width: auto;
    max-width: 700px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  div#landing-menu:before,
  div#landing-menu:after {
    content: '';
    display: table;
  }
  div#landing-menu:after {
    clear: both;
  }
  section.center {
    *zoom: 1;
    width: auto;
    max-width: 700px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  section.center:before,
  section.center:after {
    content: '';
    display: table;
  }
  section.center:after {
    clear: both;
  }
}
@media only screen and (min-width: 768px) {
  .scroll {
    display: block;
  }
  div#landing-menu {
    *zoom: 1;
    width: auto;
    max-width: 1400px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  div#landing-menu:before,
  div#landing-menu:after {
    content: '';
    display: table;
  }
  div#landing-menu:after {
    clear: both;
  }
  div#landing-menu ul#anchor-menu {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.6666666666667%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.1666666666667%;
  }
  div#landing-menu ul#anchor-menu:before,
  div#landing-menu ul#anchor-menu:after {
    content: '';
    display: table;
  }
  div#landing-menu ul#anchor-menu:after {
    clear: both;
  }
  div#landing-menu ul#anchor-menu:last-child {
    margin-right: 0%;
  }
  div#landing-menu ul#anchor-menu li {
    margin-right: 45px;
  }
  section.center {
    *zoom: 1;
    width: auto;
    max-width: 1400px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  section.center:before,
  section.center:after {
    content: '';
    display: table;
  }
  section.center:after {
    clear: both;
  }
  section.center ul#anchor-menu {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.6666666666667%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.1666666666667%;
  }
  section.center ul#anchor-menu:before,
  section.center ul#anchor-menu:after {
    content: '';
    display: table;
  }
  section.center ul#anchor-menu:after {
    clear: both;
  }
  section.center ul#anchor-menu:last-child {
    margin-right: 0%;
  }
  section.center ul#intro-menu {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 14.166666666666702%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.1666666666667%;
    padding-top: 15px;
    position: relative;
  }
  section.center ul#intro-menu:before,
  section.center ul#intro-menu:after {
    content: '';
    display: table;
  }
  section.center ul#intro-menu:after {
    clear: both;
  }
  section.center ul#intro-menu:last-child {
    margin-right: 0%;
  }
  section.center ul#intro-menu li {
    width: 100%;
    margin-right: 0;
  }
  section.center div.main-text {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.3333333333333%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.1666666666667%;
    border-left: 1px solid #fff;
    padding-left: 30px;
  }
  section.center div.main-text:before,
  section.center div.main-text:after {
    content: '';
    display: table;
  }
  section.center div.main-text:after {
    clear: both;
  }
  section.center div.main-text:last-child {
    margin-right: 0%;
  }
  section.center div.main-text h1 {
    font-size: 105px;
    font-size: 6.5625rem;
    line-height: 93px;
    line-height: 5.8125rem;
  }
  section.center div.main-text.home {
    position: relative;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.6666666666667%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.1666666666667%;
    text-align: center;
    border: 1px solid #fff;
    padding: 30px 0;
  }
  section.center div.main-text.home:before,
  section.center div.main-text.home:after {
    content: '';
    display: table;
  }
  section.center div.main-text.home:after {
    clear: both;
  }
  section.center div.main-text.home:last-child {
    margin-right: 0%;
  }
  section.center div.main-text.home h1 {
    margin-bottom: 44px;
  }
  section.center div.main-text.home p {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 25.75%;
    margin-bottom: 60px;
  }
  section.center div.main-text.home p:before,
  section.center div.main-text.home p:after {
    content: '';
    display: table;
  }
  section.center div.main-text.home p:after {
    clear: both;
  }
  section.center div.main-text.home p:last-child {
    margin-right: 0%;
  }
  section.center div.main-text.home p.subtitle {
    margin-bottom: 40px;
  }
  section.center div.main-text.home p.length {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 12.875%;
    margin-bottom: 0;
  }
  section.center div.main-text.home p.length:before,
  section.center div.main-text.home p.length:after {
    content: '';
    display: table;
  }
  section.center div.main-text.home p.length:after {
    clear: both;
  }
  section.center div.main-text.home p.length:last-child {
    margin-right: 0%;
  }
  section.center div.main-text.home p.length span {
    padding: 0 18%;
  }
}


/*# sourceMappingURL=app.css.map*/