@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500");
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic");
@font-face {
  font-family: 'futura_bqregular';
  src: url("../fonts/Futura Demi/futurabq-demibold-webfont.eot");
  src: url("../fonts/Futura Demi/futurabq-demibold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Futura Demi/futurabq-demibold-webfont.woff2") format('woff2'), url("../fonts/Futura Demi/futurabq-demibold-webfont.woff") format('woff'), url("../fonts/Futura Demi/futurabq-demibold-webfont.ttf") format('truetype'), url("../fonts/Futura Demi/futurabq-demibold-webfont.svg#futura_bqregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  margin: 0;
}
body,
input {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #fff;
}
body section.center,
input section.center {
  margin: 0 auto;
  position: relative;
}
body div.clear,
input div.clear {
  width: 0;
  height: 0;
  clear: both;
  display: block;
}
body ul,
input ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body ul li,
input ul li {
  margin: 0;
  padding: 0;
}
body .uppercase,
input .uppercase {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
a {
  font-family: 'futura_bqregular', sans-serif;
  font-weight: normal !important;
  color: #fff;
}
div#landing-menu {
  position: absolute;
  width: 100%;
  z-index: 3;
  top: 20px;
}
div#landing-menu .center {
  *zoom: 1;
  width: auto;
  max-width: 1400px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  overflow-x: scroll;
  z-index: 4;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  position: relative;
  height: 40px;
}
div#landing-menu .center:before,
div#landing-menu .center:after {
  content: '';
  display: table;
}
div#landing-menu .center:after {
  clear: both;
}
div#landing-menu .center .scroll {
  width: 200%;
  position: relative;
  height: 40px;
}
div#landing-menu .center ul {
  display: block;
}
div#landing-menu .center ul li {
  display: inline-block;
}
a#closeMenu {
  margin: 0;
  position: relative;
  width: 20px;
  right: 20px;
  float: right;
  display: block;
}
a#closeMenu img {
  width: 17px;
  height: 17px;
  margin: 20px auto 0 auto;
  display: block;
}
a#closeMenu:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 1;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-family: "Alegreya Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background: #9dd2cc;
  color: #fff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidr h1,
.sidr h2,
.sidr h3,
.sidr h4,
.sidr h5,
.sidr h6 {
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidr ul {
  border-top: none;
  border-bottom: none;
}
.sidr ul li {
  border-top: none;
  border-bottom: none;
}
.sidr ul li:hover>a,
.sidr ul li:hover>span,
.sidr ul li.active>a,
.sidr ul li.active>span,
.sidr ul li.sidr-class-active>a,
.sidr ul li.sidr-class-active>span {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidr ul li ul li:hover>a,
.sidr ul li ul li:hover>span,
.sidr ul li ul li.active>a,
.sidr ul li ul li.active>span,
.sidr ul li ul li.sidr-class-active>a,
.sidr ul li ul li.sidr-class-active>span {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div#side-menu-logo {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
div#side-menu-logo img {
  position: relative;
  width: 70%;
  margin: 0 auto;
  display: inherit;
}
.sidr ul {
  padding: 0;
  margin: 50px 0;
}
.sidr ul li {
  padding-top: 15px;
  padding-bottom: 15px;
}
.sidr ul li a {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.sidr ul li:hover {
  background-color: #fff;
}
.sidr ul li:hover a {
  color: #9dd2cc;
}
.sidr ul li a.enquire-button {
  border: 2px solid #fff;
  padding: 15px 30px;
  margin: 0 40px;
}
.sidr ul li a.enquire-button:hover {
  background-color: #fff;
  color: #f4bb3b;
}
@media only screen and (max-width: 480px) {
  .sidr {
    width: 100%;
  }
}
.fp-controlArrow {
  border-style: none;
  top: 50%;
}
.fp-controlArrow.fp-next {
  background: url("/images/sprite/next_arrow.svg");
  border-width: 0;
  border-color: #fff;
  width: 42px;
  height: 42px;
}
.fp-controlArrow.fp-prev {
  background: url("/images/sprite/prev_arrow.svg");
  border-width: 0;
  border-color: #fff;
  width: 42px;
  height: 42px;
}
.fp-controlArrow.fp-next:hover,
.fp-controlArrow.fp-prev:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
.fp-controlArrow {
  width: 42px;
  height: 42px;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  background: #fff;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  background: rgba(0,0,0,0);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
#slide1 {
  background-image: url("/images/outside/intro/outside_01.jpg");
}
#slide30 {
  background-image: url("/images/outside/intro/outside_02.jpg");
}
#slide31 {
  background-image: url("/images/outside/intro/outside_03.jpg");
}
#slide32 {
  background-image: url("/images/outside/intro/outside_04.jpg");
}
#slide34 {
  background-image: url("/images/outside/intro/outside_06.jpg");
}
#slide5 {
  background-image: url("/images/outside/bimini/bimini_01.jpg");
}
#slide7 {
  background-image: url("/images/outside/bimini/bimini_02.jpg");
}
#slide8 {
  background-image: url("/images/outside/bimini/bimini_03.jpg");
}
#slide9 {
  background-image: url("/images/outside/bimini/bimini_04.jpg");
}
#slide15 {
  background-image: url("/images/outside/bimini/bimini_05.jpg");
}
#slide16 {
  background-image: url("/images/outside/bimini/bimini_06.jpg");
}
#slide17 {
  background-image: url("/images/outside/bimini/bimini_07.jpg");
}
#slide18 {
  background-image: url("/images/outside/bimini/bimini_08.jpg");
}
#slide19 {
  background-image: url("/images/outside/bimini/bimini_09.jpg");
}
#slide20 {
  background-image: url("/images/outside/bimini/bimini_10.jpg");
}
#slide21 {
  background-image: url("/images/outside/bimini/bimini_11.jpg");
}
#slide22 {
  background-image: url("/images/outside/bimini/bimini_12.jpg");
}
#slide10 {
  background-image: url("/images/outside/fly/fly_01.jpg");
}
#slide40 {
  background-image: url("/images/outside/fly/fly_02.jpg");
}
#slide41 {
  background-image: url("/images/outside/fly/fly_03.jpg");
}
#slide42 {
  background-image: url("/images/outside/fly/fly_04.jpg");
}
#slide43 {
  background-image: url("/images/outside/fly/fly_05.jpg");
}
#slide44 {
  background-image: url("/images/outside/fly/fly_06.jpg");
}
#slide45 {
  background-image: url("/images/outside/fly/fly_07.jpg");
}
#slide46 {
  background-image: url("/images/outside/fly/fly_08.jpg");
}
#slide47 {
  background-image: url("/images/outside/fly/fly_09.jpg");
}
#slide48 {
  background-image: url("/images/outside/fly/fly_10.jpg");
}
#slide49 {
  background-image: url("/images/outside/fly/fly_11.jpg");
}
#slide11 {
  background-image: url("/images/outside/stern/stern_01.jpg");
}
#slide12 {
  background-image: url("/images/outside/stern/stern_02.jpg");
}
#slide50 {
  background-image: url("/images/inside/21_intro/intro.jpg");
}
#slide51 {
  background-image: url("/images/inside/22_dining/dining_1.jpg");
}
#slide52 {
  background-image: url("/images/inside/22_dining/dining_2.jpg");
}
#slide53 {
  background-image: url("/images/inside/22_dining/dining_3.jpg");
}
#slide54 {
  background-image: url("/images/inside/22_dining/dining_4.jpg");
}
#slide55 {
  background-image: url("/images/inside/22_dining/dining_5.jpg");
}
#slide56 {
  background-image: url("/images/inside/22_dining/dining_6.jpg");
}
#slide57 {
  background-image: url("/images/inside/22_dining/dining_7.jpg");
}
#slide58 {
  background-image: url("/images/inside/22_dining/dining_8.jpg");
}
#slide59 {
  background-image: url("/images/inside/22_dining/dining_9.jpg");
}
#slide60 {
  background-image: url("/images/inside/22_dining/dining_10.jpg");
}
#slide61 {
  background-image: url("/images/inside/22_dining/dining_11.jpg");
}
#slide62 {
  background-image: url("/images/inside/22_dining/dining_12.jpg");
}
#slide63 {
  background-image: url("/images/inside/22_dining/dining_13.jpg");
}
#slide64 {
  background-image: url("/images/inside/22_dining/dining_14.jpg");
}
#slide65 {
  background-image: url("/images/inside/22_dining/dining_15.jpg");
}
#slide66 {
  background-image: url("/images/inside/22_dining/dining_16.jpg");
}
#slide67 {
  background-image: url("/images/inside/22_dining/dining_17.jpg");
}
#slide68 {
  background-image: url("/images/inside/22_dining/dining_18.jpg");
}
#slide69 {
  background-image: url("/images/inside/22_dining/dining_19.jpg");
}
#slide70 {
  background-image: url("/images/inside/23_living/living_1.jpg");
}
#slide71 {
  background-image: url("/images/inside/23_living/living_2.jpg");
}
#slide72 {
  background-image: url("/images/inside/23_living/living_3.jpg");
}
#slide73 {
  background-image: url("/images/inside/23_living/living_4.jpg");
}
#slide74 {
  background-image: url("/images/inside/23_living/living_5.jpg");
}
#slide75 {
  background-image: url("/images/inside/23_living/living_6.jpg");
}
#slide76 {
  background-image: url("/images/inside/23_living/living_7.jpg");
}
#slide77 {
  background-image: url("/images/inside/23_living/living_8.jpg");
}
#slide78 {
  background-image: url("/images/inside/23_living/living_9.jpg");
}
#slide79 {
  background-image: url("/images/inside/23_living/living_10.jpg");
}
#slide80 {
  background-image: url("/images/inside/24_main/main_1.jpg");
}
#slide81 {
  background-image: url("/images/inside/24_main/main_2.jpg");
}
#slide82 {
  background-image: url("/images/inside/24_main/main_3.jpg");
}
#slide83 {
  background-image: url("/images/inside/24_main/main_4.jpg");
}
#slide84 {
  background-image: url("/images/inside/24_main/main_5.jpg");
}
#slide85 {
  background-image: url("/images/inside/24_main/main_6.jpg");
}
#slide86 {
  background-image: url("/images/inside/24_main/main_7.jpg");
}
#slide87 {
  background-image: url("/images/inside/24_main/main_8.jpg");
}
#slide88 {
  background-image: url("/images/inside/24_main/main_9.jpg");
}
#slide91 {
  background-image: url("/images/inside/25_owner/owner_1.jpg");
}
#slide92 {
  background-image: url("/images/inside/25_owner/owner_2.jpg");
}
#slide93 {
  background-image: url("/images/inside/25_owner/owner_3.jpg");
}
#slide94 {
  background-image: url("/images/inside/25_owner/owner_4.jpg");
}
#slide95 {
  background-image: url("/images/inside/25_owner/owner_5.jpg");
}
#slide96 {
  background-image: url("/images/inside/25_owner/owner_6.jpg");
}
#slide97 {
  background-image: url("/images/inside/25_owner/owner_7.jpg");
}
#slide98 {
  background-image: url("/images/inside/25_owner/owner_8.jpg");
}
#slide99 {
  background-image: url("/images/inside/25_owner/owner_9.jpg");
}
#slide100 {
  background-image: url("/images/inside/25_owner/owner_10.jpg");
}
#slide101 {
  background-image: url("/images/inside/25_owner/owner_11.jpg");
}
#slide102 {
  background-image: url("/images/inside/25_owner/owner_12.jpg");
}
#slide103 {
  background-image: url("/images/inside/25_owner/owner_13.jpg");
}
#slide104 {
  background-image: url("/images/inside/25_owner/owner_14.jpg");
}
#slide105 {
  background-image: url("/images/inside/25_owner/owner_15.jpg");
}
#slide111 {
  background-image: url("/images/inside/26_twin/twin_1.jpg");
}
#slide112 {
  background-image: url("/images/inside/26_twin/twin_2.jpg");
}
#slide113 {
  background-image: url("/images/inside/26_twin/twin_3.jpg");
}
#slide114 {
  background-image: url("/images/inside/26_twin/twin_4.jpg");
}
#slide115 {
  background-image: url("/images/inside/26_twin/twin_5.jpg");
}
#slide116 {
  background-image: url("/images/inside/26_twin/twin_6.jpg");
}
#slide117 {
  background-image: url("/images/inside/26_twin/twin_7.jpg");
}
#slide118 {
  background-image: url("/images/inside/26_twin/twin_8.jpg");
}
#slide121 {
  background-image: url("/images/inside/27_guest/guest_1.jpg");
}
#slide122 {
  background-image: url("/images/inside/27_guest/guest_2.jpg");
}
#slide123 {
  background-image: url("/images/inside/27_guest/guest_3.jpg");
}
#slide124 {
  background-image: url("/images/inside/27_guest/guest_4.jpg");
}
#slide125 {
  background-image: url("/images/inside/27_guest/guest_5.jpg");
}
#slide126 {
  background-image: url("/images/inside/27_guest/guest_6.jpg");
}
#slide127 {
  background-image: url("/images/inside/27_guest/guest_7.jpg");
}
#slide128 {
  background-image: url("/images/inside/27_guest/guest_8.jpg");
}
#slide129 {
  background-image: url("/images/inside/27_guest/guest_9.jpg");
}
#slide130 {
  background-image: url("/images/inside/27_guest/guest_10.jpg");
}
#slide131 {
  background-image: url("/images/inside/27_guest/guest_11.jpg");
}
#slide132 {
  background-image: url("/images/inside/28_pilot/pilot.jpg");
}
#slide133 {
  background-image: url("/images/inside/29_bath/bath.jpg");
}
#slide141 {
  background-image: url("/images/inside/210_crew/crew_1.jpg");
}
#slide142 {
  background-image: url("/images/inside/210_crew/crew_2.jpg");
}
#slide143 {
  background-image: url("/images/inside/210_crew/crew_3.jpg");
}
#slide144 {
  background-image: url("/images/inside/210_crew/crew_4.jpg");
}
#slide145 {
  background-image: url("/images/inside/210_crew/crew_5.jpg");
}
#slide146 {
  background-image: url("/images/inside/210_crew/crew_6.jpg");
}
#slide147 {
  background-image: url("/images/inside/210_crew/crew_7.jpg");
}
#slide148 {
  background-image: url("/images/inside/210_crew/crew_8.jpg");
}
#slide149 {
  background-image: url("/images/inside/210_crew/crew_9.jpg");
}
#slide150 {
  background-image: url("/images/inside/210_crew/crew_10.jpg");
}
#slide151 {
  background-image: url("/images/inside/210_crew/crew_11.jpg");
}
#slide152 {
  background-image: url("/images/inside/210_crew/crew_12.jpg");
}
#slide153 {
  background-image: url("/images/inside/210_crew/crew_13.jpg");
}
#slide154 {
  background-image: url("/images/inside/210_crew/crew_14.jpg");
}
#slide155 {
  background-image: url("/images/inside/210_crew/crew_15.jpg");
}
#slide160 {
  background-image: url("/images/lifeonboard/31_intro/intro.jpg");
}
#slide161 {
  background-image: url("/images/lifeonboard/32_ondeck/intro.jpg");
}
#slide162 {
  background-image: url("/images/lifeonboard/32_ondeck/onsail.jpg");
}
#slide163 {
  background-image: url("/images/lifeonboard/32_ondeck/below.jpg");
}
#slide164 {
  background-image: url("/images/lifeonboard/33_cabins/intro.jpg");
}
#slide165 {
  background-image: url("/images/lifeonboard/33_cabins/commodities.jpg");
}
#slide166 {
  background-image: url("/images/lifeonboard/34p_mingle/intro.jpg");
}
#slide167 {
  background-image: url("/images/lifeonboard/34p_mingle/dining.jpg");
}
#slide168 {
  background-image: url("/images/lifeonboard/34p_mingle/sunbathing.jpg");
}
#slide1670 {
  background-image: url("/images/lifeonboard/35_tender/351_intro/intro.jpg");
}
#slide1680 {
  background-image: url("/images/lifeonboard/35_tender/352_tenders/tenders_1.jpg");
}
#slide169 {
  background-image: url("/images/lifeonboard/35_tender/352_tenders/tenders_2.jpg");
}
#slide170 {
  background-image: url("/images/lifeonboard/35_tender/352_tenders/tenders_3.jpg");
}
#slide171 {
  background-image: url("/images/lifeonboard/35_tender/352_tenders/tenders_4.jpg");
}
#slide172 {
  background-image: url("/images/lifeonboard/35_tender/352_tenders/tenders_5.jpg");
}
#slide173 {
  background-image: url("/images/lifeonboard/35_tender/352_tenders/tenders_6.jpg");
}
#slide174 {
  background-image: url("/images/lifeonboard/35_tender/353_platforms/platforms_1.jpg");
}
#slide175 {
  background-image: url("/images/lifeonboard/35_tender/353_platforms/platforms_2.jpg");
}
#slide176 {
  background-image: url("/images/lifeonboard/35_tender/353_platforms/platforms_3.jpg");
}
#slide177 {
  background-image: url("/images/lifeonboard/35_tender/353_platforms/platforms_4.jpg");
}
#slide178 {
  background-image: url("/images/lifeonboard/35_tender/353_platforms/platforms_5.jpg");
}
#slide179 {
  background-image: url("/images/lifeonboard/35_tender/353_platforms/platforms_6.jpg");
}
#slide1790 {
  background-image: url("/images/lifeonboard/resting.jpg");
}
#slide180 {
  background-image: url("/images/logbook/41p_intro/intro.jpg");
}
#slide181 {
  background-image: url("/images/logbook/42_maximisingcomfort/intro.jpg");
}
#slide182 {
  background-image: url("/images/logbook/42_maximisingcomfort/winwin.jpg");
}
#slide183 {
  background-image: url("/images/logbook/43_standards/intro.jpg");
}
#slide184 {
  background-image: url("/images/logbook/43_standards/comfort.jpg");
}
#slide185 {
  background-image: url("/images/logbook/44p_homefromhome/intro.jpg");
}
#slide186 {
  background-image: url("/images/logbook/45_destination/intro.jpg");
}
#slide187 {
  background-image: url("/images/logbook/45_destination/caribbean.jpg");
}
#slide188 {
  background-image: url("/images/logbook/45_destination/crossing.jpg");
}
#slide189 {
  background-image: url("/images/logbook/45_destination/mediterranean_1.jpg");
}
#slide190 {
  background-image: url("/images/logbook/45_destination/mediterranean_2.jpg");
}
#slide191 {
  background-image: url("/images/logbook/46p_crew/intro.jpg");
}
#slide192 {
  background-image: url("/images/logbook/46p_crew/memo_1.jpg");
}
#slide193 {
  background-image: url("/images/logbook/46p_crew/memo_2.jpg");
}
#slide194 {
  background-image: url("/images/logbook/46p_crew/memo_3.jpg");
}
#slide195 {
  background-image: url("/images/events/51_intro/intro.jpg");
}
#slide196 {
  background-image: url("/images/events/events_1.jpg");
}
#slide197 {
  background-image: url("/images/events/events_2.jpg");
}
#slide200 {
  background-image: url("/images/tech/61_intro/intro.jpg");
}
#slide201 {
  background-image: url("/images/tech/62_roam/intro.jpg");
}
#slide202 {
  background-image: url("/images/tech/62_roam/nautical_1.jpg");
}
#slide203 {
  background-image: url("/images/tech/62_roam/nautical_2.jpg");
}
#slide204 {
  background-image: url("/images/tech/62_roam/nautical_3.jpg");
}
#slide205 {
  background-image: url("/images/tech/63_ample/intro.jpg");
}
#slide206 {
  background-image: url("/images/tech/63_ample/uninterrupted.jpg");
}
.modal {
  width: 800px;
  background: #9dd2cc;
  padding: 30px 60px;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  max-height: 100%;
  overflow-y: scroll;
}
.modal p {
  font-family: "Alegreya Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: #fff;
}
.modal a.close-modal {
  position: absolute;
  top: 18px;
  right: 18px;
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  background: url("../images/sprite/hamburger_close.svg") no-repeat 0 0;
}
.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: url("../images/modal/spinner.gif") #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.jquery-modal.blocker {
  background: #103158 !important;
}
textarea#textarea {
  resize: vertical !important;
  min-height: 200px;
}
div#enquire-modal,
div#contact-us-modal {
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 30px;
}
div#enquire-modal input::-webkit-input-placeholder,
div#contact-us-modal input::-webkit-input-placeholder,
div#enquire-modal textarea::-webkit-input-placeholder,
div#contact-us-modal textarea::-webkit-input-placeholder {
  color: rgba(255,255,255,0.4) !important;
}
div#enquire-modal input:-moz-placeholder,
div#contact-us-modal input:-moz-placeholder,
div#enquire-modal textarea:-moz-placeholder,
div#contact-us-modal textarea:-moz-placeholder {
  color: rgba(255,255,255,0.4) !important;
}
div#enquire-modal input::-moz-placeholder,
div#contact-us-modal input::-moz-placeholder,
div#enquire-modal textarea::-moz-placeholder,
div#contact-us-modal textarea::-moz-placeholder {
  color: rgba(255,255,255,0.4) !important;
}
div#enquire-modal input:-ms-input-placeholder,
div#contact-us-modal input:-ms-input-placeholder,
div#enquire-modal textarea:-ms-input-placeholder,
div#contact-us-modal textarea:-ms-input-placeholder {
  color: rgba(255,255,255,0.4) !important;
}
div#enquire-modal .logo,
div#contact-us-modal .logo {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}
div#enquire-modal .logo img,
div#contact-us-modal .logo img {
  width: 70%;
  max-width: 230px;
}
div#enquire-modal .form-horizontal,
div#contact-us-modal .form-horizontal {
  width: auto;
  margin: 0 auto;
}
div#enquire-modal fieldset,
div#contact-us-modal fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
div#enquire-modal fieldset label,
div#contact-us-modal fieldset label {
  color: #fff;
  font-family: "Alegreya Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
  letter-spacing: 1px;
}
div#enquire-modal fieldset input,
div#contact-us-modal fieldset input,
div#enquire-modal fieldset textarea,
div#contact-us-modal fieldset textarea {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 8px;
  margin-bottom: 15px;
  color: #fff;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  width: 100%;
}
div#enquire-modal fieldset input:focus,
div#contact-us-modal fieldset input:focus,
div#enquire-modal fieldset textarea:focus,
div#contact-us-modal fieldset textarea:focus {
  background-color: #fff;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  color: #f4bb3b;
}
div#enquire-modal fieldset div.control-group,
div#contact-us-modal fieldset div.control-group {
  position: relative;
  float: left;
}
div#enquire-modal fieldset .control-group,
div#contact-us-modal fieldset .control-group {
  width: 100%;
}
div#enquire-modal fieldset .control-group.text-area,
div#contact-us-modal fieldset .control-group.text-area {
  width: 100%;
  max-width: 100%;
}
div#enquire-modal fieldset .control-group.checkboxes,
div#contact-us-modal fieldset .control-group.checkboxes {
  width: 100%;
  margin-bottom: 15px;
  padding-left: 20px;
}
div#enquire-modal fieldset .control-group.checkboxes label.checkbox,
div#contact-us-modal fieldset .control-group.checkboxes label.checkbox {
  position: relative;
  float: left;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
}
div#enquire-modal fieldset .control-group.checkboxes input,
div#contact-us-modal fieldset .control-group.checkboxes input {
  position: absolute;
  width: auto;
  left: -20px;
}
div#enquire-modal fieldset .control-group.checkboxes label.control-label,
div#contact-us-modal fieldset .control-group.checkboxes label.control-label {
  margin-left: -20px;
}
div#enquire-modal fieldset .control-group.checkboxes .controls,
div#contact-us-modal fieldset .control-group.checkboxes .controls {
  margin-top: 10px;
}
div#enquire-modal fieldset .control-group.checkboxes .controls label,
div#contact-us-modal fieldset .control-group.checkboxes .controls label {
  margin-bottom: 8px;
}
div#enquire-modal fieldset .control-group.submit,
div#contact-us-modal fieldset .control-group.submit {
  text-align: center;
  width: 100%;
}
div#enquire-modal fieldset .control-group.submit input,
div#contact-us-modal fieldset .control-group.submit input {
  width: 30%;
  background-color: #fff;
  margin: 20px 0 5px 0;
  color: #f4bb3b;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 15px;
  line-height: 0.9375rem;
  letter-spacing: 1px;
}
div#enquire-modal fieldset .control-group.submit input:hover,
div#contact-us-modal fieldset .control-group.submit input:hover {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
@media only screen and (max-width: 450px) {
  div#enquire-modal,
  div#contact-us-modal {
    position: relative !important;
    margin: 0 !important;
    left: 0 !important;
    top: 0 !important;
  }
}
@media only screen and (min-width: 450px) {
  div#enquire-modal,
  div#contact-us-modal {
    width: 80%;
  }
  div#enquire-modal .form-horizontal fieldset,
  div#contact-us-modal .form-horizontal fieldset {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset input,
  div#contact-us-modal .form-horizontal fieldset input,
  div#enquire-modal .form-horizontal fieldset textarea,
  div#contact-us-modal .form-horizontal fieldset textarea {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group,
  div#contact-us-modal .form-horizontal fieldset .control-group {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group.text-area,
  div#contact-us-modal .form-horizontal fieldset .control-group.text-area {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group.checkboxes,
  div#contact-us-modal .form-horizontal fieldset .control-group.checkboxes {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group.submit,
  div#contact-us-modal .form-horizontal fieldset .control-group.submit {
    width: 100%;
  }
  div#enquire-modal .form-horizontal fieldset .control-group.submit input,
  div#contact-us-modal .form-horizontal fieldset .control-group.submit input {
    width: 30%;
  }
}
@media only screen and (min-width: 768px) {
  div#enquire-modal .form-horizontal,
  div#contact-us-modal .form-horizontal {
    width: 70%;
    margin: 0 auto;
  }
  div#enquire-modal fieldset .control-group.name,
  div#contact-us-modal fieldset .control-group.name,
  div#enquire-modal fieldset .control-group.surname,
  div#contact-us-modal fieldset .control-group.surname,
  div#enquire-modal fieldset .control-group.phonenum,
  div#contact-us-modal fieldset .control-group.phonenum,
  div#enquire-modal fieldset .control-group.mail,
  div#contact-us-modal fieldset .control-group.mail {
    width: 48%;
    margin-right: 2%;
  }
  div#enquire-modal fieldset .control-group.text-area,
  div#contact-us-modal fieldset .control-group.text-area {
    width: 98% !important;
  }
  div#enquire-modal fieldset .control-group.checkboxes label.checkbox,
  div#contact-us-modal fieldset .control-group.checkboxes label.checkbox {
    position: relative;
    float: left;
    width: 50%;
  }
}
@media only screen and (min-width: 940px) {
  div#enquire-modal fieldset .control-group.checkboxes label.checkbox,
  div#contact-us-modal fieldset .control-group.checkboxes label.checkbox {
    width: 33%;
    margin-right: 0;
  }
}
.map {
  height: 100%;
  width: 100%;
}
.gm-style-iw * {
  display: block;
  width: 100%;
}
.gm-style-iw h4,
.gm-style-iw p {
  margin: 0;
  padding: 0;
}
.gm-style-iw a {
  color: #4272db;
}
a {
  outline: 0 !important;
}
*:focus {
  outline: none;
}
#yacht_title {
  text-align: left;
}
#simple-menu {
  z-index: 9999;
  position: relative;
}
#enquire-modal,
#contact-us-modal {
  z-index: 4 !important;
}
.hslide,
.statement {
  display: none;
}
.slide {
  padding: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.imageHolder img {
  bottom: 0;
}
.imageHolder a {
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  transform: translateZ(1px);
}
div#landing-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 3;
}
div#landing-menu div.center {
  top: 20px;
}
ul#anchor-menu {
  margin-left: 80px !important;
}
ul#anchor-menu li {
  margin-right: 35px;
  text-align: left !important;
}
ul#anchor-menu a {
  outline: 0;
  font-family: 'futura_bqregular', sans-serif;
  font-weight: normal !important;
  text-rendering: optimizeLegibility;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-decoration: none;
}
ul#anchor-menu a.active,
ul#anchor-menu a:hover,
ul#anchor-menu a:active {
  color: #9dd2cc;
  border-bottom: 1px solid #9dd2cc;
}
ul#anchor-menu a.active {
  border-bottom: 1px solid #9dd2cc;
}
div#sidr {
  z-index: 4;
}
div.bg-img-slide {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
a#simple-menu {
  font-family: "Alegreya Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 22px;
  background-color: #9dd2cc;
}
.fast-hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0;
  -moz-transition: opacity 0;
  -o-transition: opacity 0;
  -ms-transition: opacity 0;
  transition: opacity 0;
}
.hide {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
.show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;
}
.section {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
section.center {
  z-index: 2;
  padding: 0 20px;
}
section.center ul#intro-menu {
  position: relative;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 60px;
}
section.center ul#intro-menu:before,
section.center ul#intro-menu:after {
  content: '';
  display: table;
}
section.center ul#intro-menu:after {
  clear: both;
}
section.center ul#intro-menu:last-child {
  margin-right: 0%;
}
section.center ul#intro-menu li {
  position: relative;
  float: left;
  margin-bottom: 4px;
  margin-right: 4px;
}
section.center ul#intro-menu li a.button {
  width: 100%;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 1px;
  font-weight: normal !important;
}
section.center ul#intro-menu-hide {
  display: none;
}
section.center div.main-text {
  position: relative;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  margin-top: 50px;
  margin-bottom: 30px;
  margin: 0;
}
section.center div.main-text:before,
section.center div.main-text:after {
  content: '';
  display: table;
}
section.center div.main-text:after {
  clear: both;
}
section.center div.main-text:last-child {
  margin-right: 0%;
}
section.center div.main-text h1 {
  font-size: 62px;
  font-size: 3.875rem;
  line-height: 60px;
  line-height: 3.75rem;
  margin: 7px 0 30px 0;
}
section.center div.main-text p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 0;
}
section.center div.main-text.home h1 {
  margin-bottom: 44px;
}
section.center div.main-text.home p {
  margin-bottom: 40px;
}
section.center div.main-text.home p.subtitle {
  margin-bottom: 20px;
}
section.center div.main-text.home hr.line-spacer {
  width: 98%;
  height: 1px;
  border: none;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 24px;
  position: relative;
  clear: both;
  display: inline-block;
}
section.center div.main-text.home p.length {
  font-family: 'futura_bqregular', sans-serif;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
  margin-bottom: 0;
}
section.center div.main-text.home p.length span {
  font-size: 44px;
  padding: 0 10%;
}
section.center a.button {
  position: relative;
  clear: both;
  display: inline-block;
  margin: 0;
  padding: 9px 24px;
  background-color: #9dd2cc;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 15px;
  line-height: 0.9375rem;
  text-decoration: none;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
}
section.center a.button:hover,
section.center a.button.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@media only screen and (max-width: 480px) {
  .fp-controlArrow {
    display: none !important;
  }
  .slide.mobile-slide {
    display: inline-block;
  }
  .scroll {
    display: none;
  }
}
@media only screen and (min-width: 480px) {
  .slide.mobile-slide {
    display: none;
  }
  ul#anchor-menu {
    margin-left: 0 !important;
  }
  div#landing-menu {
    *zoom: 1;
    width: auto;
    max-width: 100%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  div#landing-menu:before,
  div#landing-menu:after {
    content: '';
    display: table;
  }
  div#landing-menu:after {
    clear: both;
  }
  div#landing-menu .center {
    overflow: hidden;
    padding: 0;
  }
  div#landing-menu .center .scroll {
    width: 100%;
  }
  div#landing-menu .center ul {
    display: inline-block;
  }
  section.center {
    *zoom: 1;
    width: auto;
    max-width: 100%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  section.center:before,
  section.center:after {
    content: '';
    display: table;
  }
  section.center:after {
    clear: both;
  }
}
@media only screen and (min-width: 600px) {
  div#landing-menu {
    *zoom: 1;
    width: auto;
    max-width: 700px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  div#landing-menu:before,
  div#landing-menu:after {
    content: '';
    display: table;
  }
  div#landing-menu:after {
    clear: both;
  }
  section.center {
    *zoom: 1;
    width: auto;
    max-width: 700px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  section.center:before,
  section.center:after {
    content: '';
    display: table;
  }
  section.center:after {
    clear: both;
  }
}
@media only screen and (min-width: 768px) {
  .scroll {
    display: block;
  }
  div#landing-menu {
    *zoom: 1;
    width: auto;
    max-width: 1400px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  div#landing-menu:before,
  div#landing-menu:after {
    content: '';
    display: table;
  }
  div#landing-menu:after {
    clear: both;
  }
  div#landing-menu ul#anchor-menu {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.66666666666666%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.166666666666664%;
  }
  div#landing-menu ul#anchor-menu:before,
  div#landing-menu ul#anchor-menu:after {
    content: '';
    display: table;
  }
  div#landing-menu ul#anchor-menu:after {
    clear: both;
  }
  div#landing-menu ul#anchor-menu:last-child {
    margin-right: 0%;
  }
  div#landing-menu ul#anchor-menu li {
    margin-right: 45px;
  }
  section.center {
    *zoom: 1;
    width: auto;
    max-width: 1400px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  section.center:before,
  section.center:after {
    content: '';
    display: table;
  }
  section.center:after {
    clear: both;
  }
  section.center ul#anchor-menu {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.66666666666666%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.166666666666664%;
  }
  section.center ul#anchor-menu:before,
  section.center ul#anchor-menu:after {
    content: '';
    display: table;
  }
  section.center ul#anchor-menu:after {
    clear: both;
  }
  section.center ul#anchor-menu:last-child {
    margin-right: 0%;
  }
  section.center ul#intro-menu {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 14.166666666666664%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.166666666666664%;
    padding-top: 15px;
    position: relative;
  }
  section.center ul#intro-menu:before,
  section.center ul#intro-menu:after {
    content: '';
    display: table;
  }
  section.center ul#intro-menu:after {
    clear: both;
  }
  section.center ul#intro-menu:last-child {
    margin-right: 0%;
  }
  section.center ul#intro-menu li {
    width: 100%;
    margin-right: 0;
  }
  section.center div.main-text {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333333333333%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.166666666666664%;
    border-left: 1px solid #fff;
    padding-left: 30px;
  }
  section.center div.main-text:before,
  section.center div.main-text:after {
    content: '';
    display: table;
  }
  section.center div.main-text:after {
    clear: both;
  }
  section.center div.main-text:last-child {
    margin-right: 0%;
  }
  section.center div.main-text h1 {
    font-size: 105px;
    font-size: 6.5625rem;
    line-height: 93px;
    line-height: 5.8125rem;
  }
  section.center div.main-text.home {
    position: relative;
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.66666666666666%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 17.166666666666664%;
    text-align: center;
    border: 1px solid #fff;
    padding: 30px 0;
  }
  section.center div.main-text.home:before,
  section.center div.main-text.home:after {
    content: '';
    display: table;
  }
  section.center div.main-text.home:after {
    clear: both;
  }
  section.center div.main-text.home:last-child {
    margin-right: 0%;
  }
  section.center div.main-text.home h1 {
    margin-bottom: 44px;
  }
  section.center div.main-text.home p {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 25.75%;
    margin-bottom: 60px;
  }
  section.center div.main-text.home p:before,
  section.center div.main-text.home p:after {
    content: '';
    display: table;
  }
  section.center div.main-text.home p:after {
    clear: both;
  }
  section.center div.main-text.home p:last-child {
    margin-right: 0%;
  }
  section.center div.main-text.home p.subtitle {
    margin-bottom: 40px;
  }
  section.center div.main-text.home p.length {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 74.25%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 12.875%;
    margin-bottom: 0;
  }
  section.center div.main-text.home p.length:before,
  section.center div.main-text.home p.length:after {
    content: '';
    display: table;
  }
  section.center div.main-text.home p.length:after {
    clear: both;
  }
  section.center div.main-text.home p.length:last-child {
    margin-right: 0%;
  }
  section.center div.main-text.home p.length span {
    padding: 0 18%;
  }
}


/*# sourceMappingURL=app.css.map*/