block section
  section.center
    .clear
    .main-text.home
      p.subtitle
        | — Welcome on board Dione Star —
      p#statement1.statement
        block statement1
          | the statement

      .clear
      h1
        | Dione Star
      hr.line-spacer
      p.length
        | Super
        span
          | 43 mt
        | Yacht
    .clear
  div.hslide#hslide1.bg-img-slide(style="background-image:url('/images/landing/Intro_Home.jpg')")

