block section
  section.center
    .clear
    .main-text.home
      p.subtitle
        | — from Antigua to Gibraltair —
      p#statement1.statement
        block statement1
        | the statement
      p#statement2.statement
        block statement2
        | the statement
      p#statement3.statement
        block statement3
        | the statement
      p#statement4.statement
        block statement4
        | the statement
      p#statement5.statement
        block statement5
        | the statement
      .clear
      h1
        | Dione Star
      hr.line-spacer
      p.length
        | Super
        span
          | 43 mt
        | Yacht
    .clear
  div.hslide#hslide1.bg-img-slide(style="background-image:url('/images/landing/Intro_Home.jpg')")
  div.hslide#hslide2.bg-img-slide(style="background-image:url('/images/landing/pool.jpg')")
  div.hslide#hslide3.bg-img-slide(style="background-image:url('/images/landing/patagonia.jpg')")
  div.hslide#hslide4.bg-img-slide(style="background-image:url('/images/landing/vela2.jpg')")
  div.hslide#hslide5.bg-img-slide(style="background-image:url('/images/landing/fish.jpg')")
