div(id="plan-modal", style="display:none;")
  div#sundeck
    img(src="../images/tech/64_planimetria/planimetria_sun_or.jpg")
  div#maindeck
    img(src="../images/tech/64_planimetria/planimetria_main_or.jpg")
  div#lowerdeck
    img(src="../images/tech/64_planimetria/planimetria_lower_or.jpg")

  ul#intro-menu.menu-plan
    li
      a.button.active(href="#") Sun Deck
    li
      a.button(href="#") Main Deck
    li
      a.button(href="#") Lower Deck
