block section
  section.center
    block menu-list
      ul#intro-menu
        li
          block first-list-item
            | first button
        li
          block second-list-item
            | first button
        li
          block third-list-item
            | first button
        li
          block fourth-list-item
            | first button
    .main-text
      h1 
        block title
          | The title
      p
        block description
          | the description