extends ./layouts/_general.jade


block menu 
  
    include ./partials/_menu_login.jade
block body
  #onepage
    .section
      section.center#login
        header#login-header
          h1
            | Login
          p
            | Do you want to discover more about Dione Star? 
            br
            | Get in touch with your broker in order to get credentials and unlock the private contents on the site.
       
        form#login-form.contact-form
          
          .login-elements
            label USERNAME
            input#login-username.form-name(name="user", placeholder="user", type="text")
          .login-elements
            label PASSWORD
            input#login-password.form-email(name="password", placeholder="password", type="password")
          .login-elements.button-container
              button.btn
                | LOGIN
              #error.alert.alert-danger
                | Login Failed
                //a.close("data-dismiss" = "alert", href= "#") 
              #success.alert.alert-success
                | Login Success
                //a.close("data-dismiss" = "alert", href= "#") 
      div.hslide#hslide1.bg-img-slide(style="background-image:url('/images/landing/Intro_Home.jpg')")
