.section
  .slide#slide50
    include ../partials/_inside_intro.jade
.section
  .slide#slide51
    include ../partials/_inside_dining.jade
  .slide#slide52
  .slide#slide53
  .slide#slide54
  .slide#slide55
  .slide#slide56
  .slide#slide57
  .slide#slide58
  .slide#slide59
  .slide#slide60
  .slide#slide61
  .slide#slide62
  .slide#slide63
  .slide#slide64
  .slide#slide65
  .slide#slide66
  .slide#slide67
  .slide#slide68
  .slide#slide69
.section
  .slide#slide70
    include ../partials/_inside_living.jade
  .slide#slide71
  .slide#slide72
  .slide#slide73
  .slide#slide74
  .slide#slide75
  .slide#slide76
  .slide#slide77
  .slide#slide78
  .slide#slide79
  
.section
  .slide#slide80
    include ../partials/_inside_main.jade
  .slide#slide81
  .slide#slide82
  .slide#slide83
  .slide#slide84
  .slide#slide85
  .slide#slide86
  .slide#slide87
  .slide#slide88

.section
  .slide#slide91
    include ../partials/_inside_owner.jade
  .slide#slide92
  .slide#slide93
  .slide#slide94
  .slide#slide95
  .slide#slide96
  .slide#slide97
  .slide#slide98
  .slide#slide99
  .slide#slide100
  .slide#slide101
  .slide#slide102
  .slide#slide103
  .slide#slide104
  .slide#slide105
  
.section
  .slide#slide111
    include ../partials/_inside_twin.jade
  .slide#slide112
  .slide#slide113
  .slide#slide114
  .slide#slide115
  .slide#slide116
  .slide#slide117
  .slide#slide118
  
.section
  .slide#slide121
    include ../partials/_inside_guest.jade
  .slide#slide122
  .slide#slide123
  .slide#slide124
  .slide#slide125
  .slide#slide126
  .slide#slide127
  .slide#slide128
  .slide#slide129
  .slide#slide130
  .slide#slide131
  
.section
  .slide#slide132
    include ../partials/_inside_office.jade
    
.section
  .slide#slide133
    include ../partials/_inside_bathrooms.jade
  
//  
  .section
    .slide#slide141
      include ../partials/_inside_crew.jade
    .slide#slide142
    .slide#slide143
    .slide#slide144
    .slide#slide145
    .slide#slide146
    .slide#slide147
    .slide#slide148
    .slide#slide149
    .slide#slide150
    .slide#slide151
    .slide#slide152
    .slide#slide153
    .slide#slide154
    .slide#slide155
