.section
  include ../partials/_life_intro.jade
.section
  .slide#slide161
    include ../partials/_life_ondeck.jade
  .slide#slide162
    include ../partials/_life_ondeck_sail.jade
  .slide#slide163
    include ../partials/_life_ondeck_down.jade
.section
  .slide#slide164
    include ../partials/_life_cabins.jade
  .slide#slide165
    include ../partials/_life_cabins_resting.jade
  //  
    .slide#slide165b
      include ../partials/_life_cabins_commodities.jade

.section
  .slide#slide1670
    include ../partials/_life_room.jade
  .slide#slide1680
    include ../partials/_life_room_dining.jade
  .slide#slide169
  .slide#slide170
  .slide#slide171
  .slide#slide172
  .slide#slide173
  .slide#slide174
    include ../partials/_life_room_sun.jade
  .slide#slide175
  .slide#slide176
  .slide#slide177
  .slide#slide178
  .slide#slide179
  .slide#slide1790
  
