.section#slide160
  .filtro
  include ../partials/_life_intro.jade
.section
  .slide#slide161.con-menu
    .filtro
    include ../partials/_life_ondeck.jade
  .slide#slide163
    .filtro
    include ../partials/_life_ondeck_down.jade
  .slide#slide162
    .filtro
    include ../partials/_life_ondeck_sail.jade
.section
  .slide#slide164.alone
    .filtro
    include ../partials/_life_cabins.jade
  .slide#slide165.private
    .filtro
    include ../partials/_life_cabins_resting.jade  
  .slide#slide165b.private
    .filtro
    include ../partials/_life_cabins_commodities.jade

.section.private
  .slide#slide166
    .filtro
    include ../partials/_life_room.jade
  .slide#slide167
    .filtro
    include ../partials/_life_room_dining.jade
  .slide#slide169
    .filtro
    include ../partials/_life_room_sun.jade
    
.section
  .slide#slide170
    .filtro
    include ../partials/_life_tenders.jade
  .slide#slide171
    .filtro
    include ../partials/_life_tenders_tenders.jade
  .slide#slide172
  .slide#slide173
  .slide#slide174
  .slide#slide175
    .filtro
    include ../partials/_life_tenders_floating.jade
  .slide#slide176
  .slide#slide177
  .slide#slide178
  .slide#slide179

  
