.section#slide180
  include ../partials/_logbook_intro.jade

.section
  .slide#slide181
    .filtro
    include ../partials/_logbook_maximising.jade
  .slide#slide182
    .filtro
    include ../partials/_logbook_maximising_winwin.jade

.section
  .slide#slide183
    .filtro
    include ../partials/_logbook_highest.jade
  .slide#slide184
    .filtro
    include ../partials/_logbook_highest_comf.jade
  
.section#slide185
    .filtro
    include ../partials/_logbook_home.jade

.section
  .slide#slide186
    .filtro
    include ../partials/_logbook_cruising.jade
  .slide#slide187
    .filtro
    include ../partials/_logbook_cruising_caribbean.jade
  .slide#slide188
    .filtro
    include ../partials/_logbook_cruising_ocean.jade
  .slide#slide189
    .filtro
    include ../partials/_logbook_cruising_mediterranean.jade
  .slide#slide190
  
.section.private
  .slide#slide191
    .filtro
    include ../partials/_logbook_crew.jade
  .slide#slide192
    .filtro
    include ../partials/_logbook_memo.jade
  .slide#slide193
