.section
  include ../partials/_logbook_intro.jade

.section
  .slide#slide181
    include ../partials/_logbook_maximising.jade
  .slide#slide182
    include ../partials/_logbook_maximising_winwin.jade

.section
  .slide#slide183
    include ../partials/_logbook_maximising.jade
  .slide#slide184
    include ../partials/_logbook_maximising_winwin.jade
  
.section
  .slide#slide185
    include ../partials/_logbook_home.jade

.section
  .slide#slide5
    include ../partials/_logbook_cruising.jade
  .slide#slide7
    include ../partials/_logbook_cruising_caribbean.jade
  .slide#slide8
    include ../partials/_logbook_cruising_ocean.jade
  .slide#slide9
    include ../partials/_logbook_cruising.jade
  .slide#slide15
  
.section
  .slide#slide10
    include ../partials/_fly_main.jade
  .slide#slide40
  .slide#slide41
  .slide#slide42
  .slide#slide43
  .slide#slide44
  .slide#slide45
  .slide#slide46
  .slide#slide47
  .slide#slide48
  .slide#slide49
  
.section
  .slide#slide11
    include ../partials/_stern_intro.jade
  .slide#slide12
