.section#slide200
  include ../partials/_tech_intro.jade
.section
  .slide#slide201
    include ../partials/_tech_range.jade
  .slide#slide202
    include ../partials/_tech_range_nautical.jade
  .slide#slide203
  .slide#slide204
.section
  .slide#slide205
    include ../partials/_tech_ample.jade
  .slide#slide206
    include ../partials/_tech_ample_uninterrupted.jade
  .slide#slide207

  
