.section
  include ../partials/_tech_intro.jade
.section
  .slide#slide200
    include ../partials/_tech_range.jade
  .slide#slide201
    include ../partials/_tech_range_nautical.jade
  .slide#slide202
  .slide#slide203
.section
  .slide#slide204
    include ../partials/_tech_ample.jade
  .slide#slide205
    include ../partials/_tech_ample_uninterrupted.jade
  .slide#slide206

  
