.section
  include ../partials/_tech_intro.jade
.section
  .slide#slide1
    include ../partials/_tech_range.jade
  .slide#slide1
    include ../partials/_tech_range_nautical.jade
  .slide#slide30
  .slide#slide31
.section
  .slide#slide1
    include ../partials/_tech_ample.jade
  .slide#slide30
    include ../partials/_tech_ample_uninterrupted.jade
  .slide#slide31
  .slide#slide32
  .slide#slide34
  
