.section#slide200.section1
  .filtro
  include ../partials/_tech_intro.jade
.section.section2
  .slide#slide201.con-menu
    .filtro
    include ../partials/_tech_range.jade
  .slide#slide202.con-menu
    .filtro
    include ../partials/_tech_range_nautical.jade
  .slide#slide203
  .slide#slide204
.section.section3
  .slide#slide205.con-menu
    .filtro
    include ../partials/_tech_ample.jade
  .slide#slide206.con-menu
    .filtro
    include ../partials/_tech_ample_uninterrupted.jade
  

  
