.section
  include ../partials/_home_landing.jade
.section
  include ../partials/_home_yacht.jade
.section
  .slide#slide1
    include ../partials/_day_intro.jade
  .slide#slide2
    include ../partials/_day_dining.jade
  .slide#slide30
  .slide#slide31
  .slide#slide32
  .slide#slide33
  .slide#slide34
  .slide#slide35

  .slide#slide3
    include ../partials/_day_living.jade
  .slide#slide36
  .slide#slide37
  .slide#slide38
  .slide#slide39
  .slide#slide40
  .slide#slide41
.section
  .slide#slide5
    include ../partials/_night_intro.jade
  .slide#slide5
    include ../partials/_night_main.jade
  .slide#slide5
    include ../partials/_night_twin.jade
  .slide#slide5
    include ../partials/_night_owner.jade
  .slide#slide5
    include ../partials/_night_guest.jade
  .slide#slide5
    include ../partials/_night_office.jade
  .slide#slide6
    include ../partials/_night_bathroom.jade
  .slide#slide7
  .slide#slide8
  .slide#slide9
  .slide#slide15
  .slide#slide16
  .slide#slide17
  .slide#slide18
  .slide#slide19
.section
  .slide#slide10
    include ../partials/_specs_intro.jade
  .slide#slide10
    include ../partials/_specs_sail.jade
  .slide#slide10
    include ../partials/_specs_planimetry.jade
  .slide#slide10
    include ../partials/_specs_machinery.jade
  .slide#slide10
    include ../partials/_specs_tankage.jade