.section#section1
  include ../partials/_home_landing.jade
.section#section2
  include ../partials/_home_yacht.jade
.section#section3
  .slide#slide1
    include ../partials/_outside_intro.jade
  .slide#slide30
  .slide#slide31
  .slide#slide32
  .slide#slide34
  
.section#section4
  .slide#slide5
    .filtro
    include ../partials/_bimini_main.jade
  .slide#slide7
  .slide#slide8
  .slide#slide9
  .slide#slide15
  .slide#slide16
  .slide#slide17
  .slide#slide18
  .slide#slide19
  .slide#slide20
  .slide#slide21
  .slide#slide22
.section#section5
  .slide#slide10
    .filtro
    include ../partials/_fly_main.jade
  .slide#slide40
  .slide#slide41
  .slide#slide42
  .slide#slide43
  .slide#slide44
  .slide#slide45
  .slide#slide46
  .slide#slide47
  .slide#slide48
  .slide#slide49
  
.section#section6
  .slide#slide11
    .filtro
    include ../partials/_stern_intro.jade
  .slide#slide12
