.section
  include ../partials/_home_landing.jade
.section
  include ../partials/_home_yacht.jade
.section
  .slide#slide1
    include ../partials/_day_intro.jade
  .slide#slide1
    include ../partials/_day_dining.jade
  .slide#slide1
    include ../partials/_day_living.jade
.section
  .slide#slide5
    include ../partials/_night_intro.jade
  .slide#slide5
    include ../partials/_night_main.jade
  .slide#slide5
    include ../partials/_night_twin.jade
  .slide#slide5
    include ../partials/_night_owner.jade
  .slide#slide5
    include ../partials/_night_guest.jade
  .slide#slide5
    include ../partials/_night_office.jade
  .slide#slide5
    include ../partials/_night_bathroom.jade
.section
  .slide#slide10
    include ../partials/_specs_intro.jade
  .slide#slide10
    include ../partials/_specs_sail.jade
  .slide#slide10
    include ../partials/_specs_planimetry.jade
  .slide#slide10
    include ../partials/_specs_machinery.jade
  .slide#slide10
    include ../partials/_specs_tankage.jade