.section
  include ../partials/_home_landing.jade
.section
  .slide#slide1
    include ../partials/_decks_intro.jade
  .slide#slide2a.mobile-slide
.section
  .slide#slide5
    include ../partials/_cabines_intro.jade
  .slide#slide6
.section
  .slide#slide10
    include ../partials/_specs_intro.jade
  .slide#slide

